
.carousel {
    padding: 0 0 30px;
    width: 100%;
    position: relative;
    margin: 50px 0 0;
    .mask {
        position: relative;
        overflow: hidden;
        width: 100%;
        .slidset {
            width: 99999px;
            float: left;
        }
        .slide {
            position: relative;
            width: 100%;
            float: left;
        }
    }
    .btn-prev, .btn-next {
        outline: none;
        z-index: 20;
        position: absolute;
        top: 150px;
        left: 15px;
        width: 71px;
        height: 71px;
        background: url(/images/assets/hero/arrow_left.png) no-repeat 50% 50%;
        text-indent: -9999px;
        overflow: hidden;
    }
    .btn-next {
        left: auto;
        right: 15px;
        background: url(/images/assets/hero/arrow_right.png) no-repeat 50% 50%;
    }
}

