.tabset2 {
    font: 1.231em/1.125em 'Lato-Bold',Lato-Regular,Arial,sans-serif;
    overflow: hidden;
    width: 901px;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    li {
        text-align: center;
        min-width: 195px;
        float: left;
        margin: 0 0 0 2px;
        &:first-child {
            margin: 0;
            padding-top: 62px;
        }
    }
    a {
        outline: none;
        color: #212121;
        background: -webkit-gradient(linear,left top,left bottom,from(#212121),to(#212121));
        background: -webkit-linear-gradient(top,#212121,#212121);
        background: -moz-linear-gradient(top,#212121,#212121);
        background: -ms-linear-gradient(top,#212121,#212121);
        background: -o-linear-gradient(top,#212121,#212121);
        background: linear-gradient(#212121,#212121);
        display: block;
        padding: 15px 5px;
        border-radius: 6px 6px 0 0;
        border: transparent;
        font-family: 'Lato-Bold',Lato-Regular,Arial,sans-serif;
        font-size: 15px;
        margin-top: 11px;
        &:hover, &.active {
            color: #ffffff;
            background: #212121;
            border-bottom: none;
            text-decoration: none;
        }
        &.active {
            font-size: 22px;
            padding: 21px 5px 20px;
            margin-top: 0;
            border-radius: 10px 10px 0 0;
        }
    }
}
.tab-content {
    .viewer-block {
        min-height: 367px;
        padding: 0px 0 10px;
        margin: -1px 0 0;
        position: relative;
        z-index: 5;
        border-top: 1px solid #212121;
        color: #212121;
        .viewer-holder {
            padding: 38px 0 10px 0;
            width: 901px;
            margin: 0 auto 10px;
            position: relative;
            .video-block {
                float: left;
                width: 582px;
            }
        }
        .video {
            position: relative;
            overflow: hidden;
            width: 100%;
            .mask {
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 2;
                top: 0;
                margin: $nomargin;
                left: 0;
            }
            .price {
                padding-top: 0;
                text-align: center;
                font-weight: bold;
                font-size: 1.846em;
                line-height: 0.917em;
                padding: 8px 5px 0 7px;
                color: #ffffff;
                min-width: 150px;
                span {
                    display: block;
                    margin-left: 10px;
                    white-space: nowrap;
                    margin-top: 10px;
                    color: #9e9e9e;
                    font-weight: normal;
                    font-family: Lato-Regular,Arial,sans-serif;
                    font-size: 16px;
                    line-height: 18px;
                    padding: 0;
                }
            }
            .sum-text2, .sum-text {
                display: block;
                font-family: Lato-Regular,sans-serif;
                text-align: left;
            }
            .text-wrapp {
                text-align: center;
                z-index: 5;
                position: absolute;
                left: 0;
                top: 0;
                width: 582px;
                height: 327px;
                white-space: nowrap;
                &:after {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    width: 1px;
                    overflow: hidden;
                    margin: 0 0 0 -5px;
                    vertical-align: middle;
                }
            }
            .text-box {
                white-space: normal;
                margin: -14px 0 0;
                width: 473px;
                display: inline-block;
                vertical-align: middle;
                .btn-wrapp {
                    width: auto;
                    margin: 20px 0 0;
                    .btn-buy {
                        font-size: 16px;
                        @include vertical-gradient(#fecb00,#fecb00);
                    }
                }
            }
            h1 {
                text-align: left;
                margin: 0 0 24px 5px;
                font: 1.692em/1.091em 'Lato-Bold',Lato-Regular,Arial,sans-serif;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-family: 'Lato-Bold',Lato-Regular,Arial,sans-serif;
                }
            }
            .price {
                padding-top: 0;
                text-align: center;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
}
.epg {
    .viewer-block {
        background-color: #212121;
        .about-box {
            width: 289px;
            color: #fff;
            margin: 0;
        }
    }
    .video h1 {
        margin: 0 0 5px;
    }
    .video .mask {
        background: url(/images/assets/videoplayer/transparency_mask.png);
    }
    .video .text-wrapp .text-box {
        width: 358px;
        margin: -5px 0 0 2px;
    }
}
.watch-form {
    padding: 0 0 35px;
    float: left;
    width: 330px;
    margin: 0 0 0 -16px;
    .col {
        float: left;
        margin: 0 0 0 14px;
    }
    label {
        display: block;
        font: 14px/15px Lato-Regular,Arial,sans-serif;
        color: #fff;
        padding: 0 0 8px;
    }
    select {
        float: left;
        width: 88px;
        font: 12px/14px 'Lato-Bold',Lato-Regular,Arial,sans-serif;
        color: #fff;
    }
    input[type="button"], input[type="submit"] {
        float: left;
        margin: 25px 1px 0 15px;
        width: auto;
        font: bold 16px Lato-Regular,Arial,sans-serif;
        color: #0f204b ;
        background: linear-gradient(#fecb00, #fecb00);
        border: 1px solid #fff ;
		&:focus{
		  background: linear-gradient(#e98300, #e98300);
          border: 1px solid #fff;
          outline: none;
    }
    }
    .select-area {
        color: #0f204b;
        background: #d9dad9;
        border-color: #212121;
        .select-opener {
            background: #d9dad9 url(/images/assets/global_assets/down_grey.png) no-repeat 50% 50%;
            border-color: #212121;
            border-radius: 0 5px 5px 0;
			&:hover {
				border-radius: inherit;
                background: #e98300 url(/images/select-opener-caret-down-active.png) no-repeat 50% 47%;
           }
        }
    }
}
.select-area.select-num {
    width: 88px;
    height: auto;
    .center {
        padding: 16px 60px 16px 22px;
    }
}