.map-block {
    border-top: 1px solid #e0dfdf;
    width: 100%;
    overflow: hidden;
    background: #f2f2f2;
    .frame {
        overflow: hidden;
        position: relative;
        background: #333333;
        border-top: 1px solid #333;
        .img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.banner1 {
    padding: 26px 0;
}
.flight-info:first-child {
    padding: 50px 0 0;
}
.flight-info {
    overflow: hidden;
    .data-list {
        overflow: hidden;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            &:first-child {
                padding: 0;
                text-align: left;
                width: 100%;
                border: none;
                min-height: 0px !important;
            }
        }
        ul.jgauge {
            box-shadow: inset 0 0 25px rgba(0,0,0,0.5);
            padding: 0px;
            margin: 0px;
            li {
                text-align: center;
                width: 340px;
                padding: 15px 0;
                div.jgauge {
                    background-repeat: no-repeat;
                    background-position: top center;
                    height: 114px;
                    overflow: hidden;
                    position: relative;
                    width: 160px;
                    z-index: 0;
                    margin: 0;
                    display: inline-block;
                    float: none;
                }
            }
            li + li {
                border-left: 1px solid #d9d9d9;
            }
        }
        .title {
            font: bold 16px/19px 'Lato-Bold',Lato-Regular,Arial,sans-serif;
            padding: 10px 5px 10px;
            min-height: 28px;
            display: block;
            color: #333;
            margin: 0 auto;
            span {
                font-family: Lato-Regular,Arial,sans-serif;
                display: inline-block;
                vertical-align: top;
                padding: 0 0 0 3px;
                font-style: normal;
                font-weight: normal;
            }
        }
        #altitude_gauge {
            margin: 0;
            display: inline-block;
            float: none;
            p.label {
                color: #144b66;
                display: none;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 16px;
                height: 16px;
                line-height: 16px;
                margin: 0;
                padding: 0;
                position: absolute;
                text-align: center;
                text-shadow: 1px 1px 2px #bbb;
                width: 100%;
                z-index: 4;
            }
        }
    }
    .data-list {
        overflow: hidden;
        padding: 0;
        margin: 0;
        list-style: none;
        > li {
            min-height: 190px;
            padding: 17px 0 8px;
            text-align: center;
            float: left;
            width: 340px;
            border-left: 1px solid #cdcdcd;
            &:first-child {
                padding: 0;
                text-align: left;
                width: 100%;
                border: none;
                min-height: 0px !important;
            }
            ul {
                list-style: none;
                overflow: hidden;
                width: 100%;
                li {
                    float: left;
                    width: 184px;
                }
            }
        }
        .head {
            word-spacing: 1px;
            padding: 0 0 0 28px;
            width: 100%;
            border-bottom: 1px solid #e0dfdf;
            display: block;
            font: 20px/25px Lato-Regular,Arial,sans-serif;
            color: #0f204b;
            li {
                width: 175px;
                margin: 0;
                line-height: 45px;
                text-align: left;
                float: left;
                &.ontime {
                    color: #508e00;
                    font-weight: bold;
                }
            }
            li + li {
                margin-left: 10px;
            }
            &:nth-child(2).head li {
                padding: 15px 0;
            }
            .sub-title {
                display: block;
                font: normal 12px/14px Lato-Regular,sans-serif;
                color: #777;
                b, time {
                    display: block;
                    color: #0f204b;
                    font: normal 14px/19px Lato-Regular,Arial,sans-serif;
                    padding: 4px 0 0;
                }
                img {
                    border-style: none;
                    vertical-align: middle;
                    margin: -1px 7px 0 0;
                    width: 15px;
                }
            }
        }
    }
}
.flight .container {
    width: auto;
	position:relative;
    .text-frame {
        position: relative;
        z-index: 5;
        width: 730px;
        margin: 0 auto;
        overflow: hidden;
        color: #ffffff;
        font: normal 1em/1.5em Lato-Regular,sans-serif;
        padding: 0 0 50px;
        .intro {
            min-height: 161px;
            padding: 0;
            padding-bottom: 20px;
            margin: 0 0 45px;
            width: 355px;
            overflow: hidden;
            border-bottom: 1px solid #ffffff;
            h1 {
                font: normal 32px/1.2em 'DIN Bold','Lato-Bold',Lato-Regular,Arial,sans-serif;
                color: #ffffff;
                margin: 0 0 6px;
                text-transform: uppercase;
            }
        }
        .holder {
            overflow: hidden;
            width: 730px;
        }
        .title {
            width: 600px;
            display: block;
            font: normal 1.692em/1.091em 'Lato-Bold',Lato-Regular,Arial,sans-serif;
            padding: 20px 0 30px;
        }
        .detail-list {
            padding: 0;
            margin: 0;
            list-style: none;
            float: left;
            width: 355px;
            font-size: 0.923em;
            line-height: 1.167em;
            li {
                white-space: nowrap;
                float: left;
                width: 100%;
                span {
                    float: left;
                }
                em {
                    text-align: right;
                    float: right;
                    font-style: normal;
                }
                .sep {
                    margin: 9px 0 0;
                    overflow: hidden;
                    height: 2px;
                    background: url(/images/sep3.png) repeat-x 0 100%;
                }
            }
            li + li {
                margin: 4px 0 0;
            }
        }
		
		.detail-info {
			padding: 10px 0 0;
			margin: 0;
			list-style: none;
			float: right;
			width: 328px;
			
			li + li{margin:19px 0 0}
			
			.sub-title {
				display: block;
				font: normal 2.153em/1.0556em 'Lato-Bold', Lato-Regular, Arial, sans-serif;
				padding: 0 0 2px;
				}
				
				 p {
				margin: 0;
				}
				
			}
    }
    .image {
        z-index: 2;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.menu .container, .flight .container {
    padding-top: 100px;
    display: none;
    .image {
        top: 0;
        bottom: auto;
    }
}