#footer {
    width: 100%;
    background: #162349;
    position: relative;
    z-index: 3;
    line-height: 55px;
	
    .holder {
        float: left;
        display: inline;
        color: #ccc;
    }
}

.text-footer {
    font-family: Lato-Regular,Arial,sans-serif;
    font-size: 12px;
    color: #ccc;
    padding-left: 300px;
}
.holder_gee {
    padding-top: 5px;
    text-align: center;
    margin: 0px 30px;
    img {
        width: 60px;
        height: auto;
        float: right;
        padding: 14px 0 0 5px;
    }
}
