.games {
	.add-info {
		h1 {
			&:before {
				height: 29px;
				background: url(/images/assets/headings/games_large.png) no-repeat !important;
			}
			
			
		}
	}
}

.add-info-games {
    width: 804px;
    margin: 0 auto 0px 35px;
    overflow: hidden;
}

.games .container {
      width: 795px;
}

.games-list, .shop-list {
padding: 0;
margin: 0;
list-style: none;
width: 744px;

li.item {
    text-align: center;
    width: 356px;
    float: right;
    height: 252px;
    padding: 22px 0;
    background: #f0f0f0;
    margin-bottom: 184px;
}

li {
z-index: 0;
position: relative;
width: 170px;
float: left;
margin: 17px 0 0 16px;


.title {
display: block;
font: 12px/18px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
color: #000;
height: 39px;
padding: 11px 12px;

a {
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: #000000;
display: block;
}

span {
display: block;
font-family: Lato-Regular, Arial, sans-serif;
color: #818181;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

}

}

}

.games .btn-wrapp .free {
width: 129px;
padding: 11px 5px 0 19px;
}


.back {
    color: #d15602;
    margin: 20px 0 20px;
    float: left;
    font: bold 14px Lato-Regular,Arial,sans-serif;
}





.games-block{
    width: 730px;
    margin-top: 30px;
    padding: 0px 20px;
	
	 .serial-wrapp{
		.show {
			outline: none;
			display: block;
			width: 708px;
			text-align: center;
			padding: 15px 10px 14px;
			background: #F2F2F2;
			font: bold 1.077em/1.143em Lato-Regular,sans-serif;
			text-decoration: none;
			color: #d15602;
			span {
				display: block;
			}
			em {
				display: none;
				font-style:normal;
			}
		}
		
		&.active{
			span {
				display: none;
			}
			em {
				display: block;
			}
			
		}
	 }
}