$heaerfont: #fff;
.menu-holder {
    margin: 0;
    height: 50px;
    position: relative;
    float: right;
    right: 0;
    &:before {
        content: '';
        position: absolute;
        width: 2px;
        left: -1px;
        height: 100%;
        top: 0;
        background: #d0cabe;
        background: url(/images/assets/unb/unb_sep.png) no-repeat;
    }
    .open {
        outline: none;
        width: 50px;
        padding: 19px 39px 17px 22px;
        position: relative;
        font: 14px/16px Lato-Regular,Arial,sans-serif;
        display: block;
        color: #ffffff;
		
        &:after {
			content: '';
			position: absolute;
			right: 19px;
			top: 19px;
			width: 18px;
			height: 14px;
			background: url(/images/sprite-bg.png) no-repeat -163px -130px;
			}
    }
    .drop {
        position: absolute;
        top: 100% !important;
        right: 0 !important;
        display: none;
        width: 300px;
        z-index: 50;
        @include vertical-gradient(#fff,#fff);
        padding: 0 0 318px;
        .holder {
            text-shadow: 0 1px 1px rgba(0,0,0,0.2);
            text-align: center;
            color: #9f94ba;
            overflow: hidden;
            padding: 58px 0 0;
            font-size: 11px;
            line-height: 13px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            p {
                margin: 5px 0 5px;
                a {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 0px;
                    color: #ffffff;
                    opacity: 0.8;
                }
            }
        }
    }
}
#r44universalnavbar {
    border-top: 0px solid #f0ab00;
    border-bottom: 2px solid #f0ab00;
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    font-family: Lato-Regular,Arial,sans-serif;
    font-weight: bold;
    > li {
        border-top: 0px solid #f0ab00;
        border-bottom: 1px solid #ababab;
        > a {
            outline: none;
            text-shadow: 0 1px 1px rgba(0,0,0,0.2);
            color: #0f204b;
            display: block;
            padding: 13px 10px 11px 26px;
            background: url(/images/bg-opener.png) no-repeat 93% 50%;
        }
        &.r44universalnavbar > a {
            text-decoration: none;
            background: url(/images/bg-opener1.png) no-repeat 93% 50%;
            background-color: #fecb00;
        }
    }
    .slide {
        overflow: hidden;
        @include vertical-gradient(#f0f1f1,#f0f1f1);
        ul {
            border-top: 1px solid #ababab;
            padding: 0;
            margin: 0;
            margin-bottom: -1px;
            font: 12px/14px Lato-Regular,Arial,sans-serif;
            list-style: none;
            overflow: hidden;
            font-weight: bold;
            li {
                border-bottom: 1px solid #ababab;
            }
            a {
                outline: none;
                position: relative;
                display: block;
                padding: 13px 18px 15px 26px;
                color: #000000;
                font-size: 12px;
            }
			.purchased:after {
			content: "";
			float: right;
			width: 16px;
			height: 17px;
			background: url(/images/assets/menu/tick.png) no-repeat 0 0;
			}
        }
    }
}
#header {
    position: fixed;
    top: 0;
    z-index: 50;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.3);
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    @include vertical-gradient(#0f204b,#0f204b);
    color: $heaerfont;
    width: 1024px;
    .holder {
        nav {
            outline: none;
            margin: 0;
            float: right;
            position: relative;
            height: 50px;
            &:nth-child(2) {
                @include vertical-gradient(#fecb00,#fecb00);
            }
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                left: -1px;
                height: 100%;
                top: 0;
                background: #d0cabe;
                background: url(/images/assets/unb/unb_sep.png) no-repeat;
            }
            .open {
                outline: none;
                position: relative;
                font: bold 14px/14px Lato-Regular,Arial,sans-serif;
                display: block;
                color: #fff;
                padding: 18px 16px 19px;
				&:hover {
                   text-decoration: none;
                   background: linear-gradient(#fecb00, #fecb00);
                   color: #0f204b;
            }
			    &:active {
                   text-decoration: none;
                   background: linear-gradient(#e98300, #e98300);
                   color: #0f204b;
            }
				
            }
            &.menu-holder .open {
                color: #0f204b;
                padding: 19px 39px 17px 22px;
            }
        }
    }
}
.logo {
    float: left;
    overflow: hidden;
    width: 128px;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 50px;
	
	img {
margin: 8px 0 0 24px;
position: absolute;
top: 0;
left: 0;
z-index: 11;
}
}

#header-nav-music-item {
background-image: url(/images/assets/unb/music_icon.png);
background-repeat: no-repeat;
background-position: 50% 50%;
padding: 0 20px;
width: 20px;
.music-nav-btn {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    display: block;
    top: 0;
    left: 0;
	&:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    display: block;
    top: 0;
    left: 0;
    background: #fecb00 50% 50%;
    background-image: url(/images/assets/unb/music_blue_icon.png);
    background-repeat: no-repeat;
}
}
}

.tools {
position: relative;
padding: 0;
margin: 0;
list-style: none;
float: right;

li {
float: left;
position: relative;

&:before {
content: '';
position: absolute;
width: 2px;
left: -1px;
height: 100%;
top: 0;
background: #d0cabe;
background: url(/images/assets/unb/unb_sep.png) no-repeat;
}

.holder {
height: 25px;
text-align: center;
float: left;
padding: 15px 26px 10px;
}

.sub-text {
display: inline-block;
vertical-align: top;
font: normal 14px/25px Lato-Regular, Arial, sans-serif;

.more {
display: inline-block;
vertical-align: top;
color: #fff;
font: bold 14px/25px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
margin-left: 10px;
}
}




}
}



