
.block {
    width: 100%;
    .tab-holder {
        width: 100%;
        background: #ffffff;
        background: linear-gradient(rgba(255,255,255,0) 0%,rgb(255,255,255),rgb(255,255,255),rgb(239,232,232),rgb(230,230,230),rgb(197,196,196),#7c7b7d);
        padding-top: 101px;
        position: relative;
        margin-top: -102px;
        z-index: 10;
        height: 172px;
        h1 {
            position: relative;
            top: -11px;
            margin: 0 0 6px;
            min-width: 200px;
            font: normal 18px/26px Lato-Regular,Arial,sans-serif;
            color: #333;
            text-align: center;
            text-transform: capitalize;
            background: url(/images/assets/home/divider.png) center no-repeat;
            &:before, &:after {
                content: '';
                display: inline-block;
                vertical-align: top;
                height: 4px;
                width: 135px;
                margin: 10px 13px 0 0;
                background: none;
            }
            &:after {
                margin: 10px 0 0 13px;
                background: none;
            }
        }
    }
    > .holder {
        width: 100%;
        background: #d8d8d8;
        overflow: hidden;
        border-top: 1px solid #d8d8d8;
        .tab-content {
            padding: 36px 0 70px;
            width: 728px;
            margin: 0 auto;
            .text-wrapp {
                float: right;
                width: 542px;
                padding: 0 0 30px;
            }
            .text-holder {
                margin: 40px 0 0;
                overflow: hidden;
                background: #212121;
                -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
                -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
                box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
                &:first-child {
                    margin: 0;
                }
                .text-box {
                    color: #ababab;
                    background: #212121;
                    overflow: hidden;
                    height: 194px;
                    padding: 15px 13px 58px 12px;
                    position: relative;
                    .title {
                        padding: 0 0 8px;
                        text-transform: uppercase;
                        display: block;
                        font: normal 12px/14px Lato-Bold,Lato-Regular,Arial,sans-serif;
                        color: #ffffff;
                        span {
                            text-transform: none;
                            display: block;
                            padding: 5px 0 0;
                            font: normal 16px/20px Lato-Bold,Lato-Regular,Arial,sans-serif;
                            color: #ffffff;
                        }
                    }
                    .sub-text {
                        display: block;
                        word-spacing: 1px;
                        padding: 0 0 10px;
                        font: normal 12px/16px Lato-Regular,Lato-Regular,sans-serif;
                    }
                    .bottom {
                        position: absolute;
                        bottom: 15px;
                        width: 145px;
                    }
                }
            }
            .alignleft {
                position: relative;
                float: left;
                margin: 0;
                width: 372px;
                min-height: 10px;
                text-align: center;
                color: #333333;
                a {
                    text-decoration: none;
                }
            }
			
			.info-list {
				font-family: Lato-Regular, Arial, sans-serif;
				padding: 0 0 20px;
				margin: 0 -16px 0 0;
				list-style: none;
				float: right;
				width: 561px;
				
				li {
					color: #ffffff;
					padding: 0 15px 25px;
					min-height: 0;
					background: #333;
					float: left;
					text-align: center;
					width: 511px;
					margin: 0 16px 20px 0;
					-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3) inset;
					-moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3) inset;
					box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3) inset;
					
					
					
					.img {
						margin: 0 -15px 14px;
						background: url(/images/assets/home/destination_tile_1.jpg) no-repeat;
						text-align: center;
						height: 191px;
						white-space: nowrap;
						   

						
						.sub-text {
							white-space: normal;
							display: inline-block;
							vertical-align: bottom;
							margin: 0 0 20px;
						    width: 70%;
						    font: normal 16px/26px Lato-Regular, Arial, sans-serif;
						}
						
						&:after {
							content: '';
							display: inline-block;
							height: 100%;
							width: 1px;
							overflow: hidden;
							margin: 0 0 0 -5px;
							vertical-align: middle;
						}
					}
					
					.img {
					background: linear-gradient(rgba(15, 32, 75, 0.7), rgba(15, 32, 75, 0.7)), url(/images/assets/home/Banner-B777-543x191.jpg) no-repeat;
                    background-size: auto 100%;
					}
				}
				
				.title {
					padding: 0 0 5px;
					display: block;
					color: #ffffff;
					font: normal 22px/25px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
				}
				
				.sub-title {
					padding: 0 0 11px;
					display: block;
					color: #ffffff;
					font: normal 16px/20px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
				}
			}
        }
    }
}
.tabset {
    list-style: none;
    font: normal 14px/16px Lato-Regular,Arial,sans-serif;
    li {
        float: left;
        width: 355px;
        margin: 0 0 0 16px;
    }
    a {
        padding: 53px 10px 10px;
        height: 48px;
        margin: 0 0 21px;
        position: relative;
        border: 0px solid #2156ab;
        display: block;
        color: rgba(15,32,75,1);
        text-align: center;
        border-radius: 15px;
        font: normal 14px/14px 'meta-normal','Lato-Regular',Arial,sans-serif;
        @include vertical-gradient(#fecb00,#fecb00);
        &:hover {
            text-decoration: none;
            color: #0f204b;
            background: #fecb00;
        }
		&:focus {
            text-decoration: none;
            color: #0f204b;
            background: #e98300;
		}
        .title {
            display: block;
            color: #0f204b;
            text-transform: uppercase;
            font: normal 20px/22px Lato-Regular,Arial,sans-serif;
            padding: 0 0 1px;
        }
    }
    a.active {
        background: #333;
        color: rgba(255,255,255,0.75);
        border-color: #7a40b2;
        &:after {
            content: '';
            position: absolute;
            bottom: -23px;
            left: 50%;
            margin: 0 0 0 -11px;
            width: 0;
            height: 0;
            border: 12px solid;
            border-color: transparent transparent #d8d8d8 transparent;
            display: block;
        }
    }
    a.active .title {
        color: rgba(255,255,255, 1);
    }
    a.destination:before, a.connect:before, a.entertainment:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 50px;
        height: 31px;
        top: 18px;
        margin-left: -25px;
        background: url(/images/assets/home/entertainment_icon_inactive.png) no-repeat center top;
    }
    a.destination:before {
        background: url(/images/assets/home/destination_icon_inactive.png) no-repeat center top;
    }
    a.entertainment.active:before {
        background: url(/images/assets/home/entertainment_icon_active.png) no-repeat center top;
    }
    a.destination.active:before {
        background: url(/images/assets/home/destination_icon_active.png) no-repeat center top;
    }
}
.aside {
    width: 170px;
    float: left;
    h1 {
        font: 22px/25px 'Lato-Bold',Lato-Regular,Arial,sans-serif;
        color: #0f204b;
        margin: -5px 0 9px 5px;
    }
    ul {
        border-top: 1px solid #afafaf;
        font-family: Lato-Regular,Arial,sans-serif;
        font-size: 1.077em;
        line-height: 1.143em;
        padding: 0;
        margin: 0 0 20px;
        list-style: none;
        overflow: hidden;
        li {
            padding: 14px 0 14px 6px;
            border-bottom: 1px solid #afafaf;
            a {
                padding: 0 8px 0 0;
                font: bold 14px/14px Lato-Bold,Lato-Regular,Arial,sans-serif;
                text-decoration: none;
                color: #d15602;
                &:after {
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 8px;
                    margin-left: 4px;
                    background: url(/images/assets/global_assets/right_arrow_blue.png) no-repeat;
                }
            }
        }
    }
}
.heading {
    padding: 0 0 20px;
    min-height: 10px;
    h1 {
        float: left;
        margin: 0;
        font: normal 30px/30px 'Lato-Bold',Lato-Regular,Arial,sans-serif;
        color: #333333;
    }
    .more {
        margin: 12px 0 0;
        font: bold 1.077em/1.143em BrandonGrotesqueRegular,sans-serif;
        background: url(/images/assets/global_assets/right_arrow_blue.png) no-repeat 100% 50%;
        float: right;
        color: #D15602;
        &:after {
            content: "";
            display: inline-block;
            width: 5px;
            height: 8px;
            margin-left: 4px;
        }
    }
}
.visual-block {
    float: left;
    width: 728px;
    padding: 0 0 38px;
    .heading h1 {
        font: normal 22px/25px 'Lato-Bold',Lato-Regular,Arial,sans-serif;
        color: #0f204b;
    }
}

.carousel1 {
    margin: 12px 0 12px -9px;
    padding: 0;
    width: 744px;
    position: relative;
    .mask {
        position: relative;
        overflow: hidden;
        width: 744px;
        .slideset {
            width: 99999px;
            float: left;
        }
        .slide {
            font-size: 1em;
            line-height: 1em;
            width: 170px;
            margin: -3px 8px;
            float: left;
            background: #212121;
            @include box-shadow(0,0,1px,rgba(0,0,0,0.3),inset);
            .text-box {
                min-height: 46px;
                overflow: hidden;
                padding: 15px 10px;
            }
            .title {
                font: 12px/16px 'Lato-Bold',Lato-Regular,Arial,sans-serif;
                display: block;
                padding: 0 0 8px;
                color: #ffffff;
                a {
                    color: #ffffff;
                    font-family: 'Lato-Bold',Lato-Regular,Arial,sans-serif;
                }
            }
            .sub-title, .date {
                display: block;
                color: #adabab;
                font: 12px/10px Lato-Regular,Arial,sans-serif;
            }
        }
    }
    .prev-holder, .next-holder {
        position: absolute;
        left: -45px;
        top: 0;
        width: auto;
        height: 100%;
    }
    .next-holder {
        left: auto;
        right: -45px;
    }
    .btn-next, .btn-prev {
        position: absolute;
        left: -10px;
        top: 50%;
        width: 49px;
        height: 49px;
        background: url(/images/assets/tv_and_news/carousel_arrow_left.png) no-repeat center;
        text-indent: -9999px;
        overflow: hidden;
        outline: none;
        margin: -25px 0 0;
    }
    .btn-next {
        left: auto;
        right: -10px;
        background: url(/images/assets/tv_and_news/carousel_arrow_right.png) no-repeat center;
    }
    .mask-l, .mask-r {
        z-index: 20;
        width: 16px;
        background: #d8d8d8;
        position: absolute;
        right: 36px;
        top: 0;
        height: 100%;
        &:before {
            border-radius: 10px 0 0 10px;
            width: 25px;
            height: 100%;
            content: '';
            position: absolute;
            left: -36px;
            top: 0;
            @include gradient-l2r(transparent,#171717);
            left: -25px;
        }
        :after {
            z-index: 19;
            position: absolute;
            left: -1px;
            width: 1px;
            height: 100%;
            content: '';
            top: 0;
            background: #d8d8d8;
        }
    }
    .mask-l {
        right: auto;
        left: 36px;
    }
    mask-l:after {
        right: -1px;
        left: auto;
    }
    .mask-l:before {
        border-radius: 0 10px 10px 0;
        left: auto;
        @include gradient-l2r(#171717,transparent);
        right: -25px;
    }
	
	.browse
	{
	font: 18px/22px Lato-Regular, Arial, sans-serif;
	text-transform: none;
	min-height: 93px;
	text-align: center;
	display: block;
	padding: 64px 5px 20px;
	color: #a3a1a1;
		span {
			font-family: Lato-Regular, Arial, sans-serif;
			display: block;
			font-weight: normal;
		}
		[class*=" btn-"], [class^="btn-"]{
		margin: 10px 0 0 0;
		}
	}
}

.visual-block.shows .carousel1 .browse {
	padding: 12px 5px 10px;
	min-height: 0;
}

#news-ticker {
position: fixed;
bottom: -35px;
left: 0;
z-index: 40;
color: #fff;
width: 1024px;
left: 50%;
margin-left: -512px;
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
display: none;

a {
color: #fff;
text-decoration: none;
}

.opener {
background: #17a3dc;
float: left;
width: 58px;
line-height: 10px;
border-top-right-radius: 5px;
text-align: center;
font-size: 24px;
height: 20px;


.news-scroller {
clear: both;
color: #fff;

.swiper-wrapper {
transition-timing-function: linear;
}

a {
white-space: nowrap;
width: auto;
padding: 5px 30px;
display: inline-block;
position: relative;
font-weight: bold;
}

img {
vertical-align: middle;
margin-right: 25px;
}

}

}

.news-slide {
background: -webkit-linear-gradient(top, #17a3dc 20%, #1e7eb9 60%, #294787 100%);
background: -moz-linear-gradient(top, #17a3dc 20%, #1e7eb9 60%, #294787 100%);
background: -ms-linear-gradient(top, #17a3dc 20%, #1e7eb9 60%, #294787 100%);
background: -o-linear-gradient(top, #17a3dc 20%, #1e7eb9 60%, #294787 100%);
background: linear-gradient(#17a3dc 20%, #1e7eb9 60%, #294787 100%);
opacity: 0.96;
}

}


.start-block {
    /*padding: 15px 0 40px;*/
    width: 728px;
    overflow: hidden;
    margin: 0 auto;
	height: 20px;
    
    /*.row {
    padding: 6px 0;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
    }
	.today {
    float: left;
    font: 2.154em/1.0715em 'Lato-Bold', Lato-Regular, Arial, sans-serif;
    color: #000000;
    padding: 0 0 0 34px;
    background: url(/images/bullet5.png) no-repeat 3px 3px;
    }
	.access {
    float: right;
    font-size: 0.923em;
    line-height: 1.167em;
    color: #adabab;
    padding: 11px 0 0 10px;
    width: 355px;
    text-align: right;
    }*/
}

