#modal {
    display: none;
    padding: 0;
    z-index: 500;
    position: absolute;
    width: 1024px;
    left: 50%;
    margin-left: -512px !important;
}
#modal-content {
    padding: 25px 30px;
    margin-top: 8px;
    position: relative;
    background: rgba(235,235,235,0.95);
}
.popup-holder, .flyout {
    position: relative;
    overflow: hidden;
    height: 0;
}
.survey-popup {
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    position: relative;
    text-align: center;
    width: 400px;
    @include vertical-gradient(#0a97e2,#2156ab);
    h1 {
        color: #fff;
        font: 36px/1em 'Lato-Bold',Lato-Regular,Arial,sans-serif;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        border-bottom: 4px double rgba(255,255,255,0.5);
        padding-bottom: .35em;
        margin-bottom: .75em;
        &:after {
            :after {
                content: "";
                position: absolute;
                display: block;
                bottom: -7px;
                left: 0;
                right: 0;
                border-bottom: 1px solid rgba(255,255,255,0.5);
            }
        }
    }
    h3 {
        font: bold 28px/30px 'Lato-Regular';
        color: #fff;
        margin: .75em 0;
    }
    footer {
        padding-top: 1.5em;
        overflow: hidden;
        a {
            display: inline-block;
            width: 37%;
            margin: 5px 1%;
            font-size: 16px;
        }
    }
    h3 + footer {
        padding-top: 0;
    }
    .body {
        width: auto;
        padding: 20px 30px;
        background-color: #fff;
        h3 {
            position: relative;
            color: #17a3dc;
            border-bottom: 4px double #17a3dc;
            padding-bottom: .35em;
            margin-bottom: .75em;
            &:after {
                content: "";
                position: absolute;
                display: block;
                bottom: -7px;
                left: 0;
                right: 0;
                border-bottom: 1px solid #17a3dc;
            }
        }
        p {
            font-size: 11px;
            color: #9e9e9e;
        }
		
		fieldset {
			padding-left: 85px;
			text-align: left;
			}
		textarea {
			width: 260px;
			height: 90px;
			}
			
		textarea.errore {
			border-color: #ff0000;
			color: #ff0000;
			font-weight: bold;
			}
    }
}