.movie {
    
    .add-info-movie {
        width: 722px;
        margin: 0 auto;
        overflow: hidden;
		h1 {
			font: normal 32px/36px Lato-Regular, Arial, sans-serif;
            color: #0f204b;
			&:before {
                content: "";
                width: 32px;
                height: 27px;
                background: url(/images/assets/headings/movies_large.png) no-repeat;
           }
	    }
    }
}
.link {
    font: normal 14px/20px Lato-Regular,sans-serif;
    padding: 0px 0 0 35px;
    color: #D15602;
}
.movie-block{
    width: 730px;
    margin-top: 30px;
    /*padding: 0px 40px;*/
	
	.movie-wrapp{
		.show {
			outline: none;
			display: block;
			width: 708px;
			text-align: center;
			padding: 15px 10px 14px;
			margin: 0 0 50px;
			background: #F2F2F2;
			font: bold 1.077em/1.143em Lato-Regular,sans-serif;
			text-decoration: none;
			color: #d15602;
			span {
				display: block;
			}
			em {
				display: none;
				font-style:normal;
			}
		}
		
		&.active{
			span {
				display: none;
			}
			em {
				display: block;
			}
			
		}
	}
}




.select-form {
    padding: 0px 0 10px;
    margin: 0 0 15px;
    overflow: hidden;
    width: 100%;
    .col {
        float: left;
        padding: 0 16px 0 0;
    }
    label {
        font: normal 14px Lato-Regular,Arial,sans-serif;
        padding: 0 0 7px;
        display: block;
    }
}
.select-area {
    border-radius: 3px;
    border: 1px solid #cccbcd;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 40px;
    float: left;
    color: #000000;
    width: 168px;
    background: #fff;
    font: normal 13px/14px Lato-Regular,sans-serif;
    .center {
        display: block;
        white-space: nowrap;
        padding: 14px 42px 14px 15px;
        .select-opener {
            position: absolute;
            height: 47px;
            width: 38px;
            right: 0;
            top: 0;
            border-left: 1px solid #cccbcd;
            background: url(/images/select-opener-caret-down.png) no-repeat 50% 47%;
        }
    }
}
.movie-block {
    width: 730px;
    margin-top: 30px;
    padding: 0px 40px;
    h2 {
        margin: 0;
        color: #0f204b;
        font: 18px/1.091em Lato-Regular,Arial,sans-serif;
        span {
            font-family: Lato-Regular,Arial,sans-serif;
        }
    }
}
.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important;
}
.movie-list {
    width: 774px;
    padding: 0 0 16px;
    margin: 0 0 0 -16px;
    list-style: none;
    li {
        position: relative;
        z-index: 0;
        min-height: 341px;
        margin: 16px 0 0 16px;
        float: left;
        &.item .img {
            text-align: center;
            width: 357px;
            height: 345px;
            white-space: nowrap;
            &:after {
                content: '';
                display: inline-block;
                height: 100%;
                width: 1px;
                overflow: hidden;
                margin: 0 0 0 -5px;
                vertical-align: middle;
            }
            img {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    > li {
        background: #f0f0f0;
        > a {
            outline: none;
            color: #7c4297;
            text-decoration: none;
        }
    }
    .title {
        min-height: 46px;
        max-width: 149px;
        padding: 15px 11px 20px;
        font: normal 14px/1em 'Lato-Bold',Lato-Regular,Arial,sans-serif;
        color: #0f204b;
        overflow: hidden;
        display: block;
        span {
            padding: 7px 0 0;
            display: block;
            font: normal 1em/1em Lato-Regular,Arial,sans-serif;
            color: #333;
        }
    }
}

.movie_details .container{
    margin: 0 auto;
    width: 100%;
    background: #fff;
}


