.music {
	.add-info {
		h1 {
			&:before {
				content: url(/images/assets/headings/music_large.png);
				background: none;
				vertical-align: middle;
			}
		}
		
		.text-wrapp {
			/*width: 310px;*/
			
			.sub-text {
				text-transform: none;
			}
			.show {
				text-align: left;
				font-family: Lato-Regular, sans-serif;
				display: block;
				
			}
		}
	}
}

.music-tabs-block {
	width: 804px;
	margin: 0 auto;
	font-family: Lato-Regular, sans-serif;
	
	.select-area {
		background: #cbcbcb;
		
		.center {
			min-width: 111px;
		}
	}
	
	.select-opener {
		border-left: 1px solid #595e62;
	}
}

.tabset {
	margin-left: -40px;
	list-style: none;
	font: normal 14px/16px Lato-Regular, Arial, sans-serif;
	li {
		float: left;
		width: 355px;
		margin: 0 0 0 16px;
	}
}

.beats-landing-page-tabs
{
	.tabset {
		width: auto;
		overflow: visible;
		font-family: Lato-Regular, sans-serif;
		
		> li {
			margin: 1px 0px 0px 0px;
			width: 402px;
			text-transform: uppercase;
			> a {
				padding: 20px 20px 20px;
				height: 30px;
				margin: 0;
				position: relative;
				display: block;
				color: #282e38;
				text-align: center;
				font: normal 18px/30px Lato-Regular, Arial, sans-serif;
				z-index: 0;
				border-color: #d8d8d8;
				border-style: solid;
				/*border-width: 1px 1px 0px 1px;*/
				border-radius: 0;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background: #fecb00;
				
				&.active {
						height: 40px;
						margin-top: -10px;
						background: #444;
						line-height: 45px;
						font-size: 20px;
						z-index: 1;
						color: #fff;
						padding-top: 15px;
						padding-bottom: 25px;
						
						&:after{
							display: none;
						}
					}
			}
		}
	}
	
	.tab-content {
		clear: both;
	}
}

.dark-tab-content {
	@include vertical-gradient(#444,#444);
	background-size: 100% 100%;
	color: #fff;
	position: relative;
	padding-top: 20px;
	
	.select-form {
	
		input[type="submit"] {
			margin-top: 0;
			margin-left: 10px;
			color: #0f204b !important;
		}
	}
	
}


.artists-wrapp, {
	padding-bottom: 40px;
	
	.info-block {
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
		padding: 40px;
		background: no-repeat center top;
		background-size: cover;

		figure {
			float: left;
			width: 214px;
			margin-right: 40px;
			text-align: center;
			
			img {
				margin-bottom: 40px;
			}
			figcaption {
				font-weight: bold;
				
				small {
					display: block;
					font-weight: normal;
				}
			}
		}
		
		article {
			
			ul{
				&.playlist-tracklist {
					background: transparent;
					width: 470px;
				}
			
			}
			
			li.playlist-track {
				background: transparent;
				border-bottom: 1px solid rgba(255, 255, 255, 0.25);
				
				&:first-child {
						border-top: 1px solid rgba(255, 255, 255, 0.25);
				}
				
				.track-title {
					color: inherit;
					font-weight: bold;
				}
				
				.track-nr {
					background: rgba(255, 255, 255, 0.1);
					border-bottom: 1px solid transparent;
					position: static;
					
					.cp-buffer-holder, .cp-progress-holder {
							bottom: 0;
							left: 0;
					}
					
					.cp-controls {
						position: relative;
						margin-top: -46px;
						margin-left: 0;
						width: 46px;
						height: 46px;
						left: 0;
						top: 0;
					}
				}
				
				.cp-container {
					background: transparent;
					position: static;
					display: none;
				}
			}
			
		}
		
	}
	.heading {
		padding: 20px 40px 0;
		overflow: hidden;
		
		.select-form {
		float: right;
		margin-bottom: 0;
		border-bottom: 0;
		
			input[type="submit"] {
				margin-top: 0;
				margin-left: 10px;
				color: #0f204b !important;
			}
			
			.filter-box {
				clear: both;
				width: auto;
			}
		}
		
		header {
			width: 100%;
			float: left;
			
			h3 {
				font: 20px/24px Lato-Regular, Arial, sans-serif;
				text-transform: uppercase;
				color: #fff;
				margin: 15px 0;
			}
		}
	}
	
	.opener {
		display: block;
		margin: 0 40px;
		text-align: center;
		font: bold 16px/18px Lato-Regular, Arial, sans-serif;
		color: #2778df;
		padding: 15px;
		background-color: rgba(255, 255, 255, 0.1);
		
		em {
			font-style: normal;
			display: none;
		}
	}
	
	&.active .opener span {
		display: none;
	}
	
	&.active .opener em {
		display: inline;
	}
}

[action="/music"] > fieldset {
	border-bottom: 1px solid #4f4f4f;
	margin: 0;
}

.add-list {
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 1em;
	line-height: 1.154em;
	
	li {
		color: #929090;
		float: left;
		margin: 0 23px 0 0;
		padding: 3px 0 0;
		font-family: Lato-Regular, Arial, sans-serif;
	}
}

#beats-ldp-tab4 
{
	.dark-tab-content {
		padding: 40px;
		
		.playlists-list {
			margin: 0;
			background-color: #d8d8d8;
			border: 0px solid rgba(255, 255, 255, 0.1);
			border-width: 0;
			
			li.playlist {
				border-bottom: 1px solid #ccc;
				height: 68px;
				position: relative;
				font-family: Lato-Regular,sans-serif;
			  .playlist-thumb {
				background-color: transparent;
			    }
			 
			.playlist-info .playlist-title {
				font: normal 16px/18px Lato-Regular, Arial, sans-serif;
			   }
			}
			
			
			
		}
		
	.playlist-wrapp .opener {
			display: block;
			margin: 0 auto;
			text-align: center;
			padding: 15px;
			background-color: #555556;
			em:before, span:before
			{
			content: url('../images/assets/music/arrow_down.png');
			}
			
			em{
			display:none;
			}
		}
	
	.playlist-wrapp.active .opener {
	
		span{
			display:none;
			}
			
			em:before
			{
			content: url('../images/assets/music/arrow_down.png');
			}
			
			em{
			display:inline;
			}
			
			-webkit-transform: rotate(180deg);
			  -moz-transform: rotate(180deg);
			  -ms-transform: rotate(180deg);
			  -o-transform: rotate(180deg);
			  transform: rotate(180deg);
	
	}
		
	}
}

.play-btn, .pause-btn, .pause-timer-btn, .next-song-btn {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.next-song-btn {
    font-family: 'bmusic';
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    color: #555;
	&.enabled {
    color: #fff;
}
}


.dropdown-player {
    position: absolute;
    top: 60px;
    background: #444;
    color: #fff;
    width: 388px;
    right: -100px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 11;
		&:before, &:after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		}
		
		&:before {
			top: -8px;
			right: 118px;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-bottom: 9px solid #0F204B;
			}
			
			.next-song-btn {
			border-right: 1px solid #444;
		    }
			
			.cp-container {
				position: absolute;
				top: 0;
				left: 0;
				background-image: url('/images/beats/cp-container.png');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 100%;
			}
			.cp-container {
				background-color: #0F204B;
			}
	
	.half-bottom {
    background: #0F204B;
    clear: both;
    height: 46px;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 36px;
    margin: 1px;
    color: #888;
	  a {
		text-decoration: none;
		line-height: 36px;
	  }
   }
	.half-top {
    margin-top: 1px;
    background-color: #0F204B;
    height: 46px;
	
	div.song-info {
    width: 245px;
    padding: 9px 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
	}

.pause-timer-btn {
    background-image: url('/images/beats/pause-button-40x40.png');
}

> div {
    background-color: #0F204B;
    margin: 0 0 1px 0;
    height: 46px;
    width: 46px;
    float: left;
    border-left: 1px solid #444;
    position: relative;
    overflow: hidden;
	
	}
		> div {
		background-color: #0F204B;
		margin: 0 0 1px 0;
		height: 46px;
		   &.song-info {
			width: 100%;
			display: inline;
			position: absolute;
			padding-left: 150px;
			right: 0;
			border: none;
			background-color: transparent;
			float: none;
		    }
			.song-info {
				padding: 9px 10px;
				box-sizing: border-box;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 14px;
			    }
		}
    }
	.song-title, .artists {
    float: left;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    }
	
	.song-thumbnail {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}


}

.dropdown-player:after, .dropdown-player:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

span.song-title {
    float: left;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


.cp-buffer-1, .cp-buffer-2, .cp-progress-1, .cp-progress-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
}

.cp-buffer-1, .cp-buffer-2 {
    background: rgba(255, 255, 255, 0.25);
}

.cp-controls {
    margin: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    display: block;
    text-indent: -9999px;
    z-index: 10;
    cursor: pointer;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    line-height: 24px;
	
		.cp-pause, .cp-play{
			&:before {
			font-family: 'bmusic';
			speak: none;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			color: #fff;
			text-indent: 0;
			position: absolute;
			top: 0;
			left: 0;
			line-height: 24px;
			text-align: center;
			width: 100%;
			font-size: 16px;
			cursor: pointer;
			}
		}
		
	.cp-play:before {
		content: "\3e";
		margin-left: 1px;
		}
}

.number.round-red {
    background: #ae1b1b;
    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 15px;
    padding: 1px 5px;
    padding: 2px 5px 0;
    display: inline-block;
    font: bold 12px/15px Lato-Regular, sans-serif;
}
.pull-right {
    float: right;
}



#beats-ldp-tab2
{
	.dark-tab-content {
		padding: 40px;
		
		.playlists-list {
		  margin: 0;
		  background-color: #d8d8d8;
		  border: 0px solid rgba(255, 255, 255, 0.1);
		  border-width: 0;
		  
			  li.playlist {
					border-bottom: 1px solid #ccc;
					height: 68px;
					position: relative;
					font-family: Lato-Regular,sans-serif;
					  .playlist-thumb {
						   background-color: transparent;
					   }
					   .playlist-item-play-pause {
						   background-color: #ccc;
						   background-image: url("../images/assets/music/play_icon_container.png");
						}
						.playlist-info .playlist-title {
							font: normal 16px/18px Lato-Regular, Arial, sans-serif;
					    }
			  }
		}
	}
	
	.playlist-wrapp .opener {
		  display: block;
		  margin: 0 auto;
		  text-align: center;
		  padding: 15px;
		  background-color: #555556;
		  em:before, span:before
			{
			content: url('../images/assets/music/arrow_down.png');
			}
			
			em{
			display:none;
			}
    }
	
	.playlist-wrapp.active .opener {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		 transform: rotate(180deg);
	
		span{
			display:none;
			}
			
			em:before
			{
			content: url('../images/assets/music/arrow_down.png');
			}
			
			em{
			display:inline;
			}
			
	
	}
}