.order-block {
	padding: 1px 0 0;
	margin: 0 auto;
	width: 728px;
	color: #333333;
	
	h1 {
	padding: 0 0 20px;
	font: normal 36px/36px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
	border-bottom: 1px solid #cccccc;
	margin: 0;
	color: #000000;
	}
}

.promo-block {
	padding: 14px 0 0;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
	
	.text-wrapp {
	float: left;
	width: 500px;
	padding: 0 0 0 33px;
	
		.title {
			display: block;
			padding: 0 0 10px 0;
			margin: 0 0 0 -30px;
			font: normal 22px/25px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
			position: relative;
			
			&:before {
				display: inline-block;
				margin-right: 5px;
				content: "";
				width: 25px;
				height: 20px;
			}
			&.movie:before {
				background: url(/images/assets/headings/movies_small.png) no-repeat left 3px;
				height: 20px;
			}
		}
		
		.access {
			display: block;
			font: normal 12px/19px Lato-Regular, sans-serif;
			color: #a3a1a1;
			padding: 0 0 17px;
		}
	
	}
}

.add-code {
	min-height: 44px;
	padding: 5px 0;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
		
		.btn-add {
			float: left;
			font: normal 14px/44px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
		}
}

.add-code .total, .promo-block .price {
	text-align: right;
	float: right;
	font: normal 22px/44px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
	color: #000000;
	
	.new {
		display: none;
		}
	
}

.add-form {
	float: left;
	display:none;
}

.add-form [class*=" btn-"], .add-form [class^="btn-"], .add-form input[type="text"], .add-form input[type="email"], .add-form input[type="submit"] {
margin: 0 10px 0 0;
float: left;
width: 140px;
}

.add-form input[type="submit"] {
width: auto;
}

.applied {
display:none;
margin: 0 0 10px;
color: #23972a;
font: normal 16px/16px 'Lato-Bold', Lato-Regular, Arial, sans-serif;
padding: 0 0 0 20px;
background: no-repeat url(/images/sprite-bg.png) -226px -1680px;

i{
font-style: normal;
float: right;
padding: 0 0 0 10px;
}

}

#wrapper.purchased 
{
	.promo-block {
	border-top: 1px solid #cccccc;
	}
}

.reg-form{
	width: 728px;
	

	.errore-text {
	color: #ff0000;
	padding: 31px 0 7px;
	font: 20px/26px Lato-Regular, Arial, sans-serif;
	}
	
	.holder {
	width: 100%;
	padding: 35px 0 0;
	}
	
	 h2 {
	margin: 0 0 6px;
	font: 1.692em/1em 'Lato-Bold', Lato-Regular, Arial, sans-serif;
	}

	p {
	margin: 0;
	}
	
	.col {
	float: left;
	width: 358px;
		&:first-child {
		width: 156px;
		padding: 0 30px 0 0;
		}
	}
	
	.row {
	float: left;
	width: 100%;
	padding: 0 0 12px;
	position: relative;
	
	 &.item {
		padding: 9px 0 12px;
		}
	&.card input[type="text"] {
			float: left;
	}
			
			
		&.errore 
		{
			input[type="email"], input[type="text"] {
			border: 1px solid #ff0000;
			color: #ff0000;
			font: 13px/14px Lato-Regular, Arial, sans-serif;
			}
			
			.erore-text {
				position: absolute;
				display: block;
				left: 9px;
				top: 34px;
				font: normal 13px/14px Lato-Regular, sans-serif;
				color: #ff0000;
				background: #ffffff;
				width: 336px;
				padding: 8px 0 8px 6px;
				}
		}
	
	}
	
	label {
	display: block;
	padding: 0 0 9px 2px;
	font: bold 13px/19px Lato-Regular, sans-serif;
	}
	
	input[type="password"], input[type="text"] {
	font-weight: bold;
	
	&.text-small {
		width: 55px;
		}
	}
	
	
	.sep {
		float: left;
		width: 9px;
		height: 2px;
		background: #d2d2d3;
		margin: 23px 3px 0 4px;
	}
	
	.note {
		float: left;
		color: #a3a1a1;
		width: 161px;
		font: normal 13px/16px Lato-Regular, sans-serif;
		padding: 20px 0 0 14px;
		}
		
	.accept-box {
		overflow: hidden;
		width: 730px;
		background: #f0f0f0;
		border: 1px solid #cccccc;
		border-radius: 3px;
		margin: 39px -38px 40px;
		padding: 27px 36px 29px;
		
		.text-wrapp {
			color: #929090;
			float: left;
			width: 480px;
		}
		
		.title {
			padding: 0 0 13px;
			display: block;
			font: 0.923em/1.167em 'Lato-Bold', Lato-Regular, Arial, sans-serif;
		}
	}
	
	.info-list {
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: hidden;
		font-size: 0.923em;
		line-height: 1.167em;
		
		li {
			padding: 0 0 0 18px;
			position: relative;
			margin: 6px 0 0;
			
			&:first-child {
			margin: 0;
			}
			
			a {
				font-family: 'Lato-Bold', Lato-Regular, Arial, sans-serif;
			}
			
			&:after {
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 2px;
				position: absolute;
				top: 5px;
				left: 1px;
				background: #929090;
			}
		}
	}
	
	.btn-holder {
		padding: 2px 2px 0 0;
		float: right;
		width: 170px;
	}
	
	input[type="submit"], .btn-cancel {
	float: right;
	margin: 0 0 16px;
	width: 150px;
	}
	
	.btn-cancel {
		margin: 0;
		}
		
		
	
}

.select-area.select-small, .select-area.select-long {
height: 42px;
color: #9e9e9e;
width: 353px;
margin: 0;
font: normal 13px/14px Lato-Regular, sans-serif;

	.center {
	display: block;
	white-space: nowrap;
	padding: 14px 42px 14px 15px;
	}

}