.menu-holder .open{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f82f1', endColorstr='#3446b0',GradientType=0 );
}
.menu-holder.active .open,
.menu-holder .open:hover{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596ecf', endColorstr='#576dcd',GradientType=0 );
}
.overlay{
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 );
}
#r44universalnavbar .slide ul a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6073e0', endColorstr='#5d6fdc',GradientType=0 );
}
.tab-holder{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3c3c3',GradientType=0 );
}
.tabset a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c7fee', endColorstr='#384ab4',GradientType=0 );
}
.btn-wrapp{border:1px solid #848486;}
.tabset a.active,
.tabset a:hover{filter:none;}
.carousel1 .mask-l:after,
.carousel1 .mask-r:after{background:#1d1e1e;}
.carousel1 .browse .btn-go{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 );
}
.start-block .start{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59db23', endColorstr='#269b2a',GradientType=0 );
}
.flights-list tr.mark td div{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54e7e7e7', endColorstr='#54e7e7e7',GradientType=0 );
}
.deal-block .text-wrapp .visit{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7990d', endColorstr='#fe0700',GradientType=0 );
}
.map-block .text-box{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33b3b3b', endColorstr='#e33b3b3b',GradientType=0 );
}
.container .shadow{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#8c333333',GradientType=0 );
}
.add-info .browse-box .watch{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59dc23', endColorstr='#25992a',GradientType=0 );
}
.device-block .btn-cancel,
.select-form input[type="submit"]{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d0d2',GradientType=0 );
}
.btn-wrapp .btn-guide,
.btn-wrapp .btn-watch{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d8d9',GradientType=0 );
}
.device-block .btn-continue,
.btn-watch,
.carousel .more,
.block>.holder .tab-content .text-wrapp .text-box .btn-buy,
.btn-buy{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7990d', endColorstr='#fe0901',GradientType=0 );
}
.popup .mask{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
}
.tv-block .tab-holder{
	background:#fff;
	filter:none;
}
.carousel .text-holder .btn-sign{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acc1dc', endColorstr='#758dc7',GradientType=0 );
}
.visual .text-block  .brought:after{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4d000000',GradientType=0 );
}
.banner-block .btn-apply{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d1d1d2',GradientType=0 );
}
.viewer-block .video .mask{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
}
.epg .viewer-block .video .mask{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
}
.device-block .video .panel,
.viewer-block .video.hide .panel{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#9e000000',GradientType=0 );
}
.button-list .btn,
.watch-form input[type="submit"],
.level-form input[type="submit"]{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#222222',GradientType=0 );
}
.add-form input[type="submit"]{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d2d3',GradientType=0 );
}
.reg-form input[type="submit"]{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7990d', endColorstr='#ff0500',GradientType=0 );
}
.reg-form .btn-cancel{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0cfd1',GradientType=0 );
}
.tabset3 a{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e81f0', endColorstr='#3c4eb8',GradientType=0 );
}
.tabset3 .btn-buy{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d3d4',GradientType=0 );
}
.tabset3 .tab-mask{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4d000000',GradientType=0 );
}
.tabset3 li .br-l{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e414141', endColorstr='#9e414141',GradientType=0 );
}
.tabset3 li .br-r{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e414141', endColorstr='#5e414141',GradientType=0 );
}
.tabset4 .name{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e81ef', endColorstr='#4254bf',GradientType=0 );
}
.tabset4 li.active .name,
.tabset4 li:hover .name{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424d8f', endColorstr='#283273',GradientType=0 );
}
.carousel3 .mask-r{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6e000000',GradientType=1 );
}
.carousel3 .mask-l{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#00000000',GradientType=1 );
}
.info-block .banner-block .btn-apply{
	background:#0079c2;
	filter:none;
}
