/*common color*/

$htmlbg: #bababa;
$bodybg: #ffffff;
$nomargin: 0;
$nopadding: 0;
$bodyfont: #0f204b;



/*header color*/
$headerbg: #0f204b;
$headerfont: #fff;
$menubtn:#fecb00;
$menuicon:#0f204b;
$menudropdown_bg:#fff;
$menudropdown_font:#0f204b;
$menudropdown_item_boder:#adaba9;


/*footer color*/
$footerbg: #0f204b;
$footerfont: #fff;

