.tracker {
	padding: 0;

	.map {
	position: relative;
	
	.title {
		display: block;
		margin: 0 20px;
		font-size: 20px;
		border-bottom:1px solid $menudropdown_item_boder;
		padding: 15px 0;
		font-weight: bold;
		}
		
		> ul {list-style:none; padding: 0 20px; margin: 5px 0;
		
		li{padding:10px 0; font-size:16px;
		  &:first-child {
						float:left;
						width:50%;
					}
		 &:nth-child(2) {
			           float:right;
		            }
		
		img{width:18px; margin:0 5px 0 0;float: left;}
		}
		}
		
	}
	
	.time-info{font-size: 16px; padding-left: 15px; display: table; list-style:none; background:#f2f2f2; margin:0; color:#333333;
	
		li{width:50%; margin:10px 0; display:table-cell; float:left;
		
		span{display:block;}
		}
	}
	
	.stat-block {
		padding: 20px 0;
		font-size: 16px;
		line-height: 18px;
		text-align:center;
		margin:0 20px;
		border-bottom:1px solid #e0dfdf;
		
		.info{
			margin-bottom:10px;
			font: bold 22px/26px Lato-Regular, Arial, sans-serif;
			color:#333333;
		}
		
		
			
		}
		
		.open {
			display: block;
			background: #f2f2f2;
			font-weight: bold;
			text-align: center;
			padding: 15px 0;
			margin: 10px 20px;
			font-size: 14px;
			line-height: 16px;
			
				em {
				font-style:normal;
				display: none;
				}
			}
			
		.active .open 
		{
		span {
			display: none;
			}
		em {
			display: block;
			}
		}
		
}

