#footer {
	background: $footerbg;
	text-align: center;
	position: relative;
	color: $footerfont;
	
	.jet-footer{display:block; padding: 15px 0; font-size: 0.9em;}
}

.footer-gee {
border-top: 1px solid #464e66; padding: 10px 0 10px;

a, span{display:block; font-size:13px; padding:5px 0; color:$footerfont;}

img{margin:20px 0 40px;}

}

.footer-menu {
    bottom: 0;
    margin-bottom: 25px;
    width: 100%;
    z-index: -1;
    position: absolute;
}
