#header {
@include vertical-gradient($headerbg, $headerbg);
position: fixed;
box-shadow: 0 0 5px rgba(0,0,0,0.8);
z-index: 1000;
width: 100%;
color:$headerfont;

	.logo {
		text-indent: -9999px;
		overflow: hidden;
		width: 172px;
		height: 26px;
		background: url("../images/logo.png") no-repeat;
		float: left;
		margin: 9px 0px 0px 5px;
		
			a {
				display: block;
				height: 100%;
				}
		}

		

}

#r44universalnavbar {
	float: right;
	
	.open {
		display: block;
		width: 44px;
		height: 43px;
		@include vertical-gradient($menubtn, $menubtn);
		position: relative;
		text-indent: -9999px;
		overflow: hidden;
		
			&:before, &:after {
			content: '';
			position: absolute;
			left: 13px;
			top: 16px;
			width: 18px;
			height: 3px;
			border: 2px solid $menuicon;
			border-width: 2px 0;
			border-width: 2px 0 0;
			top: 26px;
			}
			
			&:after {
			top: 16px;
			border-width: 2px 0;
			}
			
			&:active {
				text-decoration: none;
				background: linear-gradient(#e98300, #e98300);
				color: #0f204b;
			}
		}
		
		.dropdown {
			position: fixed;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
			background: $menudropdown_bg;
			display: none;
			overflow: auto;
			}
			
		.drop {
			list-style: none;
			margin: 0;
			padding: 0;
			border-bottom: 2px solid #f0a911;
			border-top: 2px solid #717ed1;
					
				a {
					color: $menudropdown_font;
					display: block;
					position: relative;
					padding: 12px 44px 12px 20px;
				   
					&:before {
						content: '+';
						position: absolute;
						right: 19px;
						top: 11px;
						font-size: 25px;
						}
						
					&.no-plus:before {
						content: "";
						}	
					}
					
				.active a:before {
						content: '-';
						font-size: 29px;
						top: 8px;
						right: 22px;
						}
					
				li {border-top:1px solid $menudropdown_item_boder;
				    border-bottom: 1px solid #adaba9;
				/*&:first-child { border-top: 2px solid #717ed1; }*/
				}
				
				
				.slide {
				display: none;
				}
				
				ul {
					list-style: none;
					margin: 0 0 -1px;
					padding: 0;
					
					a:before {
							display: none;
							}
						
						
						
						
				}
			}
			
			slide {
				margin-left: 0;
				}
			
}

.active > .opener{background: $menubtn;}
.opener.menu-ico-home 
	{
		background-image: url("../images/ico-menu-home.png");
		background-position: left center;
		background-repeat: no-repeat;
		margin-left: 20px;
		font: bold 18px/26px Lato-Regular, Arial, sans-serif;
		
		span {
		margin-left: 10px;
		}
	}
	

.footer-menu {
	margin-top: 25px;
	width: 100%;
	z-index: -1;
}

.drop-links {
	list-style: none;
	margin: 0;
	padding: 0 0 30px;
	overflow: hidden;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: $bodyfont;
		
		a{color: $bodyfont;}
		
		li {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 25px;
		margin: 0 -4px 0 0;
		}
		
		.link {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;

			&:last-child {
				margin-right: 0;
				margin-bottom: 15px;
				}
				
			}
}

.time {
	float: right;
	padding: 15px 20px 11px 0px;
	border-right: 1px solid #555458;
	position: relative;
	font: bold 14px Lato-Regular, Arial, sans-serif;
		 a {
				text-decoration: none;
				color: #fff;
			}

	&:after {
		content: '';
		position: absolute;
		right: 11px;
		top: 50%;
		background: url("../images/sprite.png") no-repeat -26px 0;
		width: 7px;
		height: 10px;
		margin: -2px 0px 0px;
		}
}