.block {
    margin: 53px 0 0;
    .tab-holder {
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff, #ffffff, #fff, #fff, #fff, #FFFFFF);
		position: relative;
		margin-top: -60px;
		z-index: 10;
		height: 166px;
		/*padding: 0px 15px;*/
		
				h1 {
					text-transform: capitalize;
					position: relative;
					top: 15px;
					margin: 0 0 25px;
					min-width: 200px;
					font: normal 18px/26px Lato-Regular, Arial, sans-serif;
					color: #333;
					text-align: center;
					background: url(/mobile/images/divider.png) center no-repeat;
				}
    }
    ul {
        list-style: none;
        padding: 0;
      
    }
    .title {
        display: block;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
	
}
.tab-content {
    overflow: hidden;
    padding: 15px 20px 38px;
    .text-holder {
        background: #212121;
        margin: 0 0 20px;
        color: #fff;
        .text-box {
            padding: 10px 10px 0 10px;
            .title {
                color: #fff;
            }
            span {
                display: block;
                color: #fff;
            }
            .homeXXX {
                font-size: 20px;
                margin: 10px 0 20px;
            }
            .sub-text {
                margin: 0 0 30px;
                color: #929090;
            }
            .bottom {
                margin: 0 -10px;
                border-top: 1px solid rgba(255,255,255,0.1);
                padding: 10px;
                text-align: right;
            }
        }
    }
	
			img {
				height: auto;
				width: 100%;
				border-style: none;
				vertical-align: top;
			}
}
#tab1 {
    padding: 0 0 24px;
}
.holder {
    background: #d8d8d8;
    margin: 0px 0px 0px;
    padding: 0px 0px 15px;
    .tab-content {
        padding: 0px 15px;
    }
}
.link {
    display: inline-block;
    vertical-align: top;
    color: #d15602;
    font-size: 15px;
    line-height: 16px;
    position: relative;
    padding: 0;
    font-weight: bold;
    &:after {
        content: '';
        background: url("../images/sprite.png") no-repeat -117px -3px;
        width: 6px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 4px;
    }
}
.carousel {
    padding: 19px 0 45px;
    position: relative;
    margin: 0 auto;
    width: 277px;
    .mask {
        position: relative;
        overflow: hidden;
        width: 280px;
		
		 .slide {
        width: 140px;
        float: left;
        height: auto;
        /*margin: 0 8px 0 -4px;
        padding: 0 0 1px;
        background: #212121;
		text-align:center;*/
        
        .slidecontent{
			width:132px;
			margin:0 auto;
			background: #212121;
			text-align: center;
			overflow:auto;
		}
		
		.text-block {
			overflow: hidden;
			padding: 0px 0px;
			
				.browse{
					color:#a3a1a1;
					text-align: center;
					padding:72px 0 81px;
					display: block;
					}
		}
		
		.carousel .btn-prev {
			left: -20px;
		}
		
    }
		
	}
	
	.next-holder {
			position: absolute;
			right: -46px;
			top: 19px;
			width: auto;
			height: 80%
		}
	.prev-holder {
			position: absolute;
			left: -40px;
			top: 19px;
			width: auto;
			height: 80%
	}	
	    
	.mask-r{
		z-index: 20;
		width: 16px;
		background: #d8d8d8;
		position: absolute;
		right: 30px;
		top: 0;
		height: 100%;
		
		:before {
			border-radius: 10px 0 0 10px;
			width: 25px;
			height: 100%;
			content: '';
			position: absolute;
			top: 0;
			background: -webkit-linear-gradient(left, transparent, #000);
			left: -26px;
		}
     }
	 
	 .mask-l{
		z-index: 20;
		background: #d8d8d8;
		position: absolute;
		left: 26px;
		top: 0;
		height: 100%;
		width: 16px;
		
		:before {
			border-radius: 0 10px 10px 0;
			width: 25px;
			height: 100%;
			content: '';
			position: absolute;
			top: 0;
			right: -25px;
			background: -webkit-linear-gradient(right, transparent, #000);
		}
     }
	
	
	
	
	
    .slide + .slide {
       /*margin-left: 6px;*/
	 }
	 
    h3 {
        margin: 13px 8px 2px;
        font-size: 14px;
        line-height: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
			padding-left: 8px;
			float: left;
            color: #fff;
        }
    }
    .year, .season {
		float: left;
        display: block;
        font-size: 12px;
        line-height: 14px;
        color: #adabab;
        padding: 0 0 5px 15px;
    }
	

	
			.btn-prev, .btn-next {
			left: 24px;
			position: absolute;
			top: 50%;
			margin-top:-20px;
			text-indent: -9999px;
			overflow: hidden;
			background: url("../images/sprite.png") no-repeat -68px 0;
			width: 15px;
			height: 25px;
			z-index: 50;
		}
		
		.btn-next{
		right: 30px;	
		left:auto;
		background: url("../images/sprite.png") no-repeat -88px 0;
		}

}

.mask.next-holder {left:-250px !important}

.temperature 
{
background:#212121;
color:#fff;
text-align:center;
float:left;
width:100%;

	.img {
	/*background: -moz-linear-gradient( rgba(15, 32, 75, 0.7), rgba(15, 32, 75, 0.7)), url(/mobile/images/Banner-B777.jpg) no-repeat;
	background: -webkit-gradient( rgba(15, 32, 75, 0.7), rgba(15, 32, 75, 0.7)), url(/mobile/images/Banner-B777.jpg) no-repeat;
	background: -webkit-linear-gradient( rgba(15, 32, 75, 0.7), rgba(15, 32, 75, 0.7)), url(/mobile/images/Banner-B777.jpg) no-repeat;
	background: -ms-linear-gradient( rgba(15, 32, 75, 0.7), rgba(15, 32, 75, 0.7)), url(/mobile/images/Banner-B777.jpg) no-repeat;
	background: -o-linear-gradient(rgba(15, 32, 75, 0.7), rgba(15, 32, 75, 0.7)), url(/mobile/images/Banner-B777.jpg) no-repeat;*/
	background: url(/mobile/images/Banner-B777.jpg) no-repeat;
	padding: 0 0 45%;
    background-size: 100% 100%;
	}
	
	.title, .sub-title{display:block; text-align:left; padding:0 10px;}
	
	.title{line-height: 30px;font-size: 28px; margin-top: 15px;}
	
	.sub-title{font-size: 16px;border-bottom:1px solid rgba(255,255,255,0.3); padding-bottom:20px}
	
	
	.sub-text {
		margin: 0 0 20px!important;
		width: 70%;
		vertical-align: bottom!important;
		font: normal 24px/35px Lato-Regular, Arial, sans-serif!important;
		}
		
	.btn{margin:10px; float:right;}
}


 .borderline{
	padding: 10px 10px;
    border-top: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
 }
 
 
 
 
 
 
 .carousel2 {
    padding: 19px 0 45px;
    position: relative;
    margin: 0 auto;
    width: 266px;
    .mask {
        position: relative;
        overflow: hidden;
        width: 266px;
		
		 .slide {
        width: 133px;
        float: left;
        margin: 0;
        padding: 0 0 9px;
        background: #212121;
        height: auto;
			
		.text-block {
			overflow: hidden;
			padding: 0px 4px;
			
				.browse{
					font: normal 16px/24px Lato-Regular, Arial, sans-serif;
					color:#a3a1a1;
					text-align: center;
					padding:0 0 0px;
					display: block;
					}
		}
		
		.carousel2 .btn-prev {
			left: -20px;
		}
		
    }
		
	}
	
	.next-holder {
			position: absolute;
			right: -52px;
			top: 19px;
			width: auto;
			height: 64%
		}
	.prev-holder {
			position: absolute;
			left: -54px;
			top: 19px;
			width: auto;
			height: 64%
	}	
	    
	.mask-r{
		z-index: 20;
		width: 16px;
		background: #d8d8d8;
		position: absolute;
		right: 36px;
		top: 0;
		height: 100%;
		
		:before {
			border-radius: 10px 0 0 10px;
			width: 25px;
			height: 100%;
			content: '';
			position: absolute;
			top: 0;
			background: -webkit-linear-gradient(left, transparent, #171717);
			left: -25px;
		}
     }
	 
	 .mask-l{
		z-index: 20;
		background: #d8d8d8;
		position: absolute;
		left: 45px;
		top: 0;
		height: 100%;
		
		:before {
			border-radius: 0 10px 10px 0;
			width: 25px;
			height: 100%;
			content: '';
			position: absolute;
			top: 0;
			background: -webkit-linear-gradient(right, transparent, #171717);
		}
     }
	 
	 
	 .slide + .slide {
        margin-left: 8px;
	 }
	 
    h3 {
        margin: 13px 8px 2px;
        font-size: 14px;
        line-height: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
            color: #fff;
        }
    }
    .year, .season {
        display: block;
        font-size: 12px;
        line-height: 14px;
        color: #adabab;
        padding: 0 0 5px 7px;
    }
	
	
	
			.btn-prev, .btn-next {
			position: absolute;
			left: 38px;
			top: 50%;
			margin-top:-12px;
			text-indent: -9999px;
			overflow: hidden;
			background: url("../images/sprite.png") no-repeat -68px 0;
			width: 15px;
			height: 25px;
			z-index: 50;
		}
		
		.btn-next{
		/*right: -18px;*/	
		left:auto;
		background: url("../images/sprite.png") no-repeat -88px 0;
		}

}