@mixin box-shadow($top, $left, $blur, $color, $inset:"") 
{
-webkit-box-shadow:$top $left $blur $color #{$inset};
-moz-box-shadow:$top $left $blur $color #{$inset};
box-shadow:$top $left $blur $color #{$inset};
}

@mixin vertical-gradient($start-colour, $end-colour) {
    background: $start-colour;
    background: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
    background: -webkit-linear-gradient(top, $start-colour, $end-colour);
    background:    -moz-linear-gradient(top, $start-colour, $end-colour);
    backgrounde:     -ms-linear-gradient(top, $start-colour, $end-colour);
    background:      -o-linear-gradient(top, $start-colour, $end-colour);
    background:         linear-gradient($start-colour, $end-colour);
    filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}');
}

@mixin gradient-l2r($start-colour, $end-colour) {
    background: $start-colour;
    background: -webkit-gradient(linear, left top, right top, from($start-colour), to($end-colour));
    background: -webkit-linear-gradient(left, $start-colour, $end-colour);
    background:    -moz-linear-gradient(left, $start-colour, $end-colour);
    background:     -ms-linear-gradient(left, $start-colour, $end-colour);
    background:      -o-linear-gradient(left, $start-colour, $end-colour);
    background:         linear-gradient(left, $start-colour, $end-colour);
    filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}', gradientType='1');
}