.movie-section{
	margin: 0;
	overflow: hidden;
	padding: 40px 20px 0;
	color:#333;
	
	 h1 {
		margin: 0 0 14px;
		font-size: 2em;
		position: relative;
		color: #0f204b;
		
		&:before{
			display:inline-block;
			content:'';
			top: 2px;
			background: url(/mobile/images/movies_large.png) no-repeat ;
			width: 34px;
			height: 30px;
			margin-right: 5px;
			}
		}
		
		.text-wrap{margin-bottom:15px;}
		

}

.games-section {
	margin: 0;
	overflow: hidden;
	padding: 40px 20px 0;
	color:#333;
	
	 h1 {
		margin: 0 0 14px;
		font-size: 2em;
		position: relative;
		color:#0f204b;
		
		&:before{
			display:inline-block;
			content:'';
			top: 2px;
			background: url(/mobile/images/games_large.png) no-repeat ;
			width: 34px;
			height: 30px;
			margin-right: 5px;
			}
		}
		
		.text-wrap{margin-bottom:15px;}
}

.movie-block {
	margin:50px 0;
		h2 {
		font-size: 20px;
		color: $bodyfont;
		}

}

.films {
	list-style: none;
	overflow: hidden;
	padding:0;
	margin:0 -14px;
	
	li {
		float: left;
		width: 45.4%;
		height: auto;
		background: #f2f2f2;
		text-align: left;
		margin:14px 7px 0;
		max-width:185px;
		
		img {
			width:100%;
			height:auto;
			}
			
		 .year{padding-left:12px; font-size: 15px; margin-bottom: 20px; float: left;}	
		}
	
	
	h3 {
	margin: 10px 5px 10px 12px;
	font-size: 16px;
	line-height: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
		a{color:#16214b; line-height: 20px;}
		
	}
}

.section-banner {width:100%;}

.onBoardPlayerMovie  {

background:#f2f2f2;
padding: 20px;
border-radius: 5px;
border:1px solid #cccbcd;
color:#000;
text-align:center;
margin-bottom:50px;

p{margin-top:0; }

a:last-child{display:block; padding-top: 15px; border-top: 1px solid #cccbcd;}

img{display:block; margin:30px auto;}

}



.info-block{
     .headline{
		 height: 65px;
         width: 100%;
		 background-color:#212121;
		  h1{ 
		    float: left;
			font: bold 28px/26px Lato-Regular, Arial, sans-serif;
			color: #fff;
			padding-left: 20px;
		 }
	}
 
	 .fancybox-close{
		 float:right;
		 padding: 20px;
	 }
	 
	.info{
		/*padding-top: 30px;*/
		background-color:#fff;
		 .rating{
			 border: 1px solid;
			 border-radius: 6px;
             padding: 3px 6px 3px;
			 border-color: #333;
		 }
		
		p{
		  /* padding-top:30px;*/	
		  font: bold 20px/27px Lato-Regular, Arial, sans-serif;	
		  color:#777777;	
		}
		h2{
		  font:normal 20px/16px Lato-Regular, Arial, sans-serif;
	      color:#343433;
		}
	}
}



.video-info{
	color:#333;
	width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
	padding-bottom: 40px;
	font: bold 16px/16px Lato-Regular, Arial, sans-serif;
	
		li {
			float: left;
			width: auto;
			padding: 4px 15px 6px 17px;
			margin: 0;
			min-height: 0;
		    background: url(/mobile/images/sep_4.png) no-repeat;
				&:first-child {
					background: none;
					padding-left: 0;
				}
			 
		}
		
}


.star-rating{
	    height: 16px;
		position: relative;
		width: 88px;
		margin: 0 0 11px;
		background: url("../images/sprite.png") no-repeat -212px -125px;
		
		.value {
			height: 16px;
			position: absolute;
			left: 0;
			top: 0;
			text-indent: -9999px;
			overflow: hidden;
			background: url("../images/sprite.png") no-repeat -212px -143px;
		}
}




.game-page{
	background-color: #f2f2f2;
    margin: 10px;
	
	.headline{
		padding-top: 15px;
        margin-left: 20px;
		
		h1{margin:0px;}
		.close {
			color: #d15602;
			float: left;
			font: bold 14px Lato-Regular,Arial,sans-serif;
		}
	}
	
	.game-area{
		padding: 20px;
		
		img{height: 100%; width: 100%;}
	}
	
	
	.copyright{
		text-align: center;
		padding-bottom:1px;
		font-size:14px;
		color: #2D2C2C;
		
			p{
			  padding-bottom: 10px;
			  margin: 0;
			}
	}
}

.gamespop{float:right; margin:10px;}




