.add-info {
    border: none;
   /* width: 382px;*/
    margin: 0 auto 0px;
    overflow: hidden;
    background: #ffffff;
    h1 {
		margin-bottom: 10px;
		padding-left: 20px;
        font-size: 2em;
        color: #0f204b;
        &:before {
            display: inline-block;
            margin-right: 5px;
            content: "";
            width: 34px;
            height: 30px;
            background: url(/mobile/images/music_large.png) no-repeat;
        }
    }
    .text-wrapp {
		padding-left: 20px;
        font: normal 14px/19px Lato-Regular,sans-serif;
        color: #333333;
        font-family: Lato-Regular,Arial,sans-serif;
        ul {
            padding: 7px 25px 0px 0;
            margin: 0;
            list-style: none;
            overflow: hidden;
            font: normal 14px/19px Lato-Regular,Arial,sans-serif;
            color: #777;
            li {
                position: relative;
                padding-left: 14px;
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 7px;
                    width: 5px;
                    height: 5px;
                    border-radius: 0;
                    background: #887966;
                }
            }
        }
        .choose {
            width: 40%;
            display: block;
            font-size: 1em;
            line-height: 1.231em;
            padding: 0 0 0 13px;
            margin-top: 10px;
        }
        .show {
            display: inline-block;
            font: bold 14px/16px Lato-Regular,sans-serif;
            margin: 0;
            span {
                display: inline-block;
                vertical-align: top;
            }
            em {
                display: none;
            }
        }
        .sub-text {
            font: normal 16px/20px Lato-Regular,sans-serif;
            display: block;
            padding: 0 0 0px;
        }
        .slide {
            width: 727px;
            padding: 0 0 22px;
            margin-left: 20px;
        }
    }
	
}
.js-slide-hidden {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    display: block !important;
}
.music-tabs-block {
    margin: 0 auto;
    font-family: Lato-Regular,sans-serif;
}
.beats-landing-page-tabs {
    .tabset {
        width: auto;
        overflow: visible;
        font-family: Lato-Regular,sans-serif;
        background: #fff;
        margin: 0px 0px;
        padding: 0 32px 0px;
        list-style: none;
        font: normal 14px/16px Lato-Regular,Arial,sans-serif;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        > li {
			padding-right: 10px;
            text-transform: uppercase;
            float: left;
            width: 50%;
            > a {
                padding: 15px 15px 15px;
                margin: 0;
                position: relative;
                display: block;
                color: #0f204b;
                text-align: center;
                font: bold 18px/30px Lato-Regular,Arial,sans-serif;
                border-color: #d8d8d8;
                border-style: solid;
                border-width: 1px 1px 0px 1px;
                border-radius: 0;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                background: #fecb00;
                &.active {
                    height: 20px;
                    margin-top: 0px;
                    background: #404040;
                    font-size: 18px;
                    z-index: 1;
                    color: #fff;
                    padding-top: 15px;
                    padding-bottom: 25px;
					&:after {
						display: none;
					}
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    text-indent: -9999px;
                    overflow: hidden;
                }
            }
        }
    }
    .tab-content {
		background-color: #404040;
        clear: both;
        overflow: hidden;
        h2 {
            color: #fff;
            font-size: 22px;
         }
    }
}
#beats-ldp-tab2, #beats-ldp-tab4{
    .dark-tab-content {
        padding: 5px;
        background: #404040;
        background-size: 100% 100%;
        /*color: #fff;*/
        position: relative;
	}
	
	.playlist-wrapp {
			.opener {
				font-weight: bold;
				height: 15px;
                display: block;
                text-align: center;
				padding: 12px;
				background-color: #fff;
				border: 1px solid #ccc;
                border-radius: 0px 0px 5px 5px;
				
				em {
					font-style: normal;
					display: none;
				}
			}
			   &.active .opener span {
					display: none;
				}
				
				&.active .opener em {
					display: inline;
				}
	}
	
}


.music-list-all {
    .music-list-action {
        font-size: 20px;
        font-family: Lato-Regular,Arial,sans-serif;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
}
ul {
    .playlists-list {
        padding: 0px;
        list-style: none;
        background: #ffffff;
        border: 1px solid #ccc;
        border-bottom: none;
    }
}
li {
    .playlist {
        border-bottom: 0px solid #ccc;
        height: 68px;
        position: relative;
        font-family: Lato-Regular,sans-serif;
    }
}
.playlist-thumb {
    width: 68px;
    height: 68px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: #fff;
    background-image: url(/images/assets/music/album_small_1.jpg);
}
.playlist-item-play-pause {
    width: 68px;
    height: 68px;
    margin-left: -68px;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    background-image: url(/mobile/images/playlist-play-button-bg-6.png);
    &:before {
        font-family: 'bmusic';
        speak: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        color: #FFF;
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 68px;
        text-align: center;
        width: 100%;
        font-size: 16px;
        cursor: pointer;
        content: "\3e";
        text-indent: 1px;
    }
    .cp-container {
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -23px;
        margin-top: -23px;
        display: none;
        width: 46px;
        height: 46px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding: 0;
    }
    .cp-buffer-holder, .cp-progress-holder, .cp-circle-control {
        position: absolute;
        width: 46px;
        height: 46px;
        top: 50%;
        margin-top: -23px;
        left: 50%;
        margin-left: -23px;
    }
    .cp-buffer-holder, .cp-progress-holder {
        display: none !important;
    }
}
.cp-buffer-1, .cp-buffer-2 {
    background: rgba(255,255,255,0.25);
}
.cp-progress-1, .cp-progress-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    clip: rect(0px,23px,46px,0px);
    border-radius: 23px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-image: url("../images/player_progress_2.png");
}
.cp-buffer-1, .cp-buffer-2, .cp-progress-1, .cp-progress-2 {
    bottom: 0;
}
.cp-controls {
    margin: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    display: block;
    text-indent: -9999px;
    z-index: 10;
    cursor: pointer;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    line-height: 24px;
    li {
        list-style-type: none;
    }
}
.playlist-info {
    padding: 16px 10px 16px 80px;
    height: 36px;
    color: #0f204b;
    position: relative;
    cursor: pointer;
    float: none;
    font-family: Lato-Regular,sans-serif;
}
.playlist-title, .playlist-totals-info, .playlist-genre {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.playlist-title {
    margin-top: -10px;
    font: bold 17px/18px Lato-Regular,sans-serif;
}
.playlist-totals-info {
    color: #7b7b7b !important;
    font-size: 16px;
}
.playlists-list {
	margin-top: 0px;
	margin-bottom: 0px;
    padding-left: 0px;
    background: #fff;
}
.playlist {
    border-bottom: 1px solid #ccc;
}
.music.ad-block .ad {
	margin:0px;
    padding: 20px 0px 20px 0px;
    background-color: #404040;
    text-align: center;
}

