.tv-section {

margin: 0;
overflow: hidden;
padding: 23px 20px 0;

h1 {
    margin: 0px 0 25px;
    font-size: 2em;
    position: relative;
    color: #0f204b;
	
	&:before {
	display:inline-block;
    content: '';
    top: 2px;
    background: url(/mobile/images/tv_large.png) no-repeat;
    width: 34px;
    height: 30px;
	margin-right: 5px;
}
}
	.tabs{
			margin:0 -20px;
			
		.tabset {
			padding: 0 20px;
			margin: 0 -20px;
			border-bottom: 1px solid #cccbcd;
			li {
				width: 50%;
				padding: 0;
				a {
					text-indent: 0;
					height: auto;
					border: 1px solid #cccbcd;
					background: #f2f2f2;
					border-radius: 4px 4px 0 0;
					margin: 0 5px -1px;
					font-weight: bold;
					position: relative;
					padding: 13px 5px 14px;
					border-width:1px 1px 0 1px;
					
					&.active {
					background: #fff;
					color: #0f204b;
					
					&:after{content:none;}
					}
				}
				
			}
		}
		
	}
	
	.tab-content {
		padding: 22px 0 68px;
		box-shadow: 0px -2px 2px #888888;
		}
}

.serials {
list-style: none;
margin: 0 0 -5px;
padding: 10px 15px 0;
overflow: hidden;
font-size: 12px;
line-height: 16px;
color: #58595b;
text-align: center;

li {
display: inline-block;
vertical-align: top;
height: auto;
margin: 0 4px 10px;
background: #f2f2f2;
width: 46%;
text-align: left;
color:#0f204b;

h3, span{display:block; margin:10px 10px 0;}

h3 a{color:#0f204b;}

span{margin:0 10px 10px; color:#333333;}

img{width:100%;}

}
}



.tvopen{
	display: block;
    background: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    margin: 10px 20px;
    font-size: 14px;
    line-height: 16px;
	 
	 em {
		font-style: normal;
		display: none;
	}
}
	
	.tv-section.active .tvopen{ 
		span {
			display: none;
		}
		em {
			display: inline;
		}
}


.info-bar{
	overflow: hidden;
    padding: 25px 0 20px 20px;
    background-color: #212121;
	
	  p{
		padding-right: 10px; 
		color:#fff;
		font: normal 16px/25px  Lato-Regular, Arial, sans-serif;  
	  }
	
	.sub_title {
		color:#fff;
	}
	
	.cell {
		float: left;
		width: 25%;
		margin: 0 14px 0 0; 
	}
	
	.cell label {
	  color:#fff;
      font-weight: bold;
      line-height: 14px;
      display: block;
      margin: 0 0 8px; 
	 }
	  
	.btn-4{
		margin-top: 23px;
		height: 44px;
		cursor: pointer;
		border: 1px solid #fff;
		padding: 0 20px;
		text-transform: none;
		font: Bold 16px/16px  Lato-Regular, Arial, sans-serif;
		text-align: center;
		border-radius: 4px;
		white-space: nowrap;
		display: inline-block;
	    background: linear-gradient(#fecb00, #fecb00);
		vertical-align: bottom;
		color: #0f204b;
		line-height: 44px;
		&:focus{background: linear-gradient(#e98300, #e98300);}
	}
	
	.title_synopsis{
		padding-top: 15px;
		color:#fff;
		font: Bold 20px/16px Lato-Regular, Arial, sans-serif;
	}
	
	.video-info{
		color:#fff;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		padding-bottom: 20px;
		font: bold 16px/16px Lato-Regular, Arial, sans-serif;
		
			li {
				float: left;
				width: auto;
				padding: 1px 15px 2px 17px;
				margin: 0;
				min-height: 0;
				background: url(/mobile/images/sep4.png) no-repeat;
					&:first-child {
						background: none;
						padding-left: 0;
					}
				 
			}
			
			.rating{
				border: 2px solid;
				border-radius: 9px;
				padding: 2px 7px 2px;
				border-color: #fff;
		    }  
			
		
	}
}

.description-block{
	padding: 30px;
	
     h1{
	   font: 26px/16px Lato-Regular, Arial, sans-serif;
	   color:#16214b;
     }
	  h2{
	   padding-top: 10px;	  
	   font:normal 20px/16px Lato-Regular, Arial, sans-serif;
	   color:#343433;
     }
	 
	 p{
		color:#777777;
		font: 16px/20px  Lato-Regular, Arial, sans-serif;  
	  }
	  
	  .crew{
		  padding: 0px 0px 0px 20px;
		  font: 16px/20px Lato-Regular, Arial, sans-serif;
	      color:#343433;
	  }

}