<div class="playlist-dropdown" data-playlist-id="<%= playlist_id %>">
    <aside>
        <div class="playlist-image" style="background-image:url('<%= playlist.image %>');"></div>
        <h3 class="playlist-title"><%= playlist.title %></h3>
        <div class="playlist-totals-info">
            <span class="playlist-tracks-nr"><%= playlist.total_tracks %></span> Songs &middot;
            <span class="playlist-duration"><%= parseInt(playlist.duration / 60) % 60 %>:<% var seconds = parseInt(playlist.duration) % 60; %><%= seconds < 10 ? "0" + seconds : seconds %></span>
        </div><!-- .playlist-totals-info -->
        <p class="playlist-description"><%= playlist.description %></p>
        <div class="playlist-owner-info">
            <!--! <div class="playlist-owner-logo" style="background-image: url('https://api.beatsmusic.com/api/genres/<%= playlist.author.id %>/images/default?size=small');"></div> -->
            by <span class="playlist-owner-title"><%= playlist.author.display %></span>
        </div><!-- .playlist-owner-info -->
    </aside>
    <ul class="playlist-tracklist">
        <% var i = 0; _.each(playlist.tracks, function(track){ %>
            <li class="playlist-track<%
                if(playing_track_id){ 
                    %><%  
                    if(playing_track_id == track.track_id){
                        %> active<%
                    }
                    if(myCirclePlayer.player.getState() == "PLAYING"){
                        %> playing<%
                    }
                    %><% 
                } %>" data-track-id="<%= track.track_id %>" data-track-index="<%= i %>">
                <div class="track-nr">
                    <%= ++i %>
                    <div class="cp-container">
                        <div class="cp-buffer-holder">
                            <div class="cp-buffer-1"></div>
                            <div class="cp-buffer-2"></div>
                        </div>
                        <div class="cp-progress-holder">
                            <div class="cp-progress-1"></div>
                            <div class="cp-progress-2"></div>
                        </div>
                        <!-- <div class="cp-circle-control"></div> -->
                        <ul class="cp-controls">
                            <li><a class="cp-play">play</a></li>
                            <li><a class="cp-pause" style="display:none;">pause</a></li>
                        </ul>
                    </div><!-- .cp-container -->
                </div><!-- .track-nr -->
                <div class="track-duration"><%= parseInt(track.duration / 60) % 60 %>:<% var seconds = parseInt(track.duration) % 60; %><%= seconds < 10 ? "0" + seconds : seconds %></div>
                <div class="track-title-and-artists">
                    <div class="track-title"><%= track.title %></div>
                    <div class="track-artists"><%= track.artists %></div>
                </div><!-- .track-info -->
            </li><!-- .playlist-track -->
        <% }); %>
    </ul><!-- .playlist-tracklist -->
    <a class="close-playlists-dropdown">&times;</a>
    <div class="clear"></div>
</div><!-- .playlist-dropdown -->