/*
 * Project: CirclePlayer
 * http://www.jplayer.org
 *
 * Copyright (c) 2012 Happyworm Ltd
 *
 * Author: Silvia Benvenuti
 * Edited by: Mark J Panaghiston
 * Date: 2nd October 2012
 * Artwork inspired by: http://forrst.com/posts/Untitled-CJz
*/
.cp-container {
  position: relative;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0;
}

.cp-container :focus {
  border: none;
  outline: 0;
}
.cp-buffer {
  position:absolute;
  top: 3px;
  left: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
}

.cp-progress-1,
.cp-progress-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  clip: rect(0px, 23px, 46px, 0px);
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.cp-progress-1, .cp-progress-2 {
  background-image: url("../images/player_progress_2.png");
}

.cp-container .cp-fallback {
  display: none;
}

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 50%;
  margin-top: -23px;
  left: 50%;
  margin-left: -23px;
}

.cp-circle-control {
  cursor: pointer;
}

.cp-progress-holder {
  clip: rect(0px, 46px, 46px, 23px);
  display: none;
}

/* This is needed when progress is greater than 50% or for fallback */
.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress-1.cp-fallback {
  clip: rect(auto, auto, auto, auto);
}

.cp-controls {
  margin: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  display: block;
  text-indent: -9999px;
  z-index: 10;
  cursor: pointer;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  line-height: 24px;
}

.cp-controls li {
  list-style-type: none;
}

/*.cp-controls .cp-play {*/
/* background:url("controls.jpg") 0 0 no-repeat; */
/*background:url("beats_play.png") 3px 0 no-repeat;*/
/*}*/
/*.cp-controls .cp-play:hover {*/
/* background:url("controls.jpg") -50px 0 no-repeat; */
/*background:url("beats_play.png") 3px 0 no-repeat;*/
/*}*/
.cp-controls .cp-pause:before,
.cp-controls .cp-play:before {
  font-family: 'ap-playback-controls';
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: #000;
  opacity: .8;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.cp-controls .cp-play:before {
  content: "\e003";
  margin-left: 1px;
}

.cp-controls .cp-pause:before {
  content: "\e002";
}

.playlist-item-play-pause .cp-controls .cp-pause:before,
.playlist-item-play-pause .cp-controls .cp-play:before {
  color: #000;
}

.playlist-item-play-pause.active .cp-container {
  display: block;
}

.playlist-item-play-pause .cp-container {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -23px;
  display: none;
}

/*.cp-controls .cp-pause {*/
/* background:url("controls.jpg") 0 -50px no-repeat; */
/*background:url("beats_pause.png") 0 0 no-repeat;*/
/*}*/
/*.cp-controls .cp-pause:hover {*/
/* background:url("controls.jpg") -50px -50px no-repeat; */
/*background:url("beats_pause.png") 0 0 no-repeat;*/
/*}*/
.cp-jplayer {
  width: 0;
  height: 0;
}

.dropdown-player .cp-container {
  background-color: #fff;
}
.dropdown-player .cp-container .cp-buffer {
  background-color: #f1f1f1;
}

/*.playlist-track .cp-container a.cp-play {
B
	display: none;
}
.playlist-track .cp-container a.cp-pause {
	display: block !important;
}*/
.playlist-track .track-nr .cp-container {
  /*display: none;*/
}

.playlist-track.active .track-nr .cp-container {
  /*display: block;*/
  position: absolute;
  top: 0;
}

