
.rzauth .tabset3 .preauthOnly,
.norzauth .tabset3 .postauthOnly {
    display:none;
}
.tabset3{
    padding:0;
    margin:0;
    list-style:none;
}
.tabset3 .postauthOnly {
    min-height:23px;
    padding:10px 0 10px 25px;
    background:url(/images/bullet6.png) no-repeat 0 4px;
}
.tabset3 li{
    position:relative;
    float:left;
    text-align:center;
}
.tabset3 li .br-r,
.tabset3 li .br-l{
    position:absolute;
    z-index:6; /* DF z-index:5 */
    left:0;
    top:0;
    width:1px;
    height:100%;
    content:'';
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,65,65,0.62)), color-stop(100%,rgba(65,65,65,0.62)));
    background: -webkit-linear-gradient(top,  rgba(65,65,65,0.62) 0%,rgba(65,65,65,0.62) 100%);
    background: linear-gradient(to bottom,  rgba(65,65,65,0.62) 0%,rgba(65,65,65,0.62) 100%);
}
.tabset3 li .br-r{
    left:auto;
    right:0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,65,65,0.37)), color-stop(100%,rgba(65,65,65,0.37)));
    background: -webkit-linear-gradient(top,  rgba(65,65,65,0.37) 0%,rgba(65,65,65,0.37) 100%);
    background: linear-gradient(to bottom,  rgba(65,65,65,0.37) 0%,rgba(65,65,65,0.37) 100%);
}
.tabset3 .tab-mask{
    top:0;
    left:0;
    position:absolute;
    width:156px;
    height:100%;
    display:none;
    z-index:2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
}
/*.tabset3 li:hover .tab-mask,*/
.tabset3 li.active .tab-mask{display:block;}
.tabset3>li>a{
    outline:none;
    display:block;
    background: rgb(110,129,240);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,129,240,1)), color-stop(28%,rgba(101,119,230,1)), color-stop(98%,rgba(63,81,188,1)), color-stop(100%,rgba(60,78,184,1)));
    background: -webkit-linear-gradient(top,  rgba(110,129,240,1) 0%,rgba(101,119,230,1) 28%,rgba(63,81,188,1) 98%,rgba(60,78,184,1) 100%);
    background: linear-gradient(to bottom,  rgba(110,129,240,1) 0%,rgba(101,119,230,1) 28%,rgba(63,81,188,1) 98%,rgba(60,78,184,1) 100%);
    position:relative;
    width:156px;
    height:100px;
    border-top:1px solid #3545a3;
    border-bottom:2px solid #31409b;
}
.tabset3 a:hover{text-decoration:none;}
/*.tabset3 li:hover>a:after,*/
.tabset3 li.active>a:after{
    content:'';
    position:absolute;
    left:50%;
    top:-1px;
    margin:0 0 0 -6px;
    width:0;
    height:0;
    z-index:10;
    border:12px solid;
    border-color:#000 transparent transparent;
}
.tabset3>li>a:before{
    position:absolute;
    bottom:-3px;
    left:0;
    height:1px;
    width:100%;
    background:#292929;
    content:'';
    z-index:2;
}
/*.tabset3 li:hover>a:before,*/
.tabset3 li.active>a:before{background:#1d1d1d;}
.tabset3 a .free{
    position:absolute;
    z-index:10;
    right:-1px;
    top:-1px;
    height:40px;
    width:41px;
    background:url(/images/sprite-bg.png) no-repeat 0 -744px;
}
.tabset3 .img-wrapp{
    height:101px;
    width:156px;
    white-space:nowrap;
    text-align:center;
    display:block;
    position:relative;
    z-index:5;
}
.tabset3 .img-wrapp:after{
    content:'';
    display:inline-block;
    height:100%;
    width:1px;
    overflow:hidden;
    margin:0 0 0 -5px;
    vertical-align:middle;
}
.tabset3 .img-wrapp .img{
    display:inline-block;
    vertical-align:middle;
}
.tabset3 .row8,
.tabset3 .row7,
.tabset3 .row6,
.tabset3 .row5,
.tabset3 .row4,
.tabset3 .row3,
.tabset3 .row2,
.tabset3 .row1{
    text-align:left;
    color:#929090;
    position:relative;
    z-index:5;
    overflow:hidden;
    padding:11px 12px 5px 18px;
    border-bottom:1px solid #404040;
    height:42px;
    font:12px/16px 'helvetica_bold', Helvetica, Arial, sans-serif;
}
.tabset3 li.active .row8,
.tabset3 li:hover .row8,
.tabset3 li.active .row7,
.tabset3 li:hover .row7,
.tabset3 li.active .row6,
.tabset3 li:hover .row6,
.tabset3 li.active .row5,
.tabset3 li:hover .row5,
.tabset3 li.active .row4,
.tabset3 li:hover .row4,
.tabset3 li.active .row3,
.tabset3 li:hover .row3,
.tabset3 li.active .row2,
.tabset3 li:hover .row2,
.tabset3 li.active .row1,
.tabset3 li:hover .row1{border-bottom:1px solid #404040;}
.tabset3 .row2{height:101px;}
.tabset3 .row3{height:160px;}
.tabset3 .row4{height:219px;}
.tabset3 .row5{height:278px;}
.tabset3 .row6{height:337px;}
.tabset3 .row7{height:396px;}
.tabset3 .row8{height:455px;}
.tabset3 .price{
    padding:0 0 11px;
    font-size:2.000em;
    line-height:1.083em;
    display:block;
}
.tabset3 .price span{
    display:inline-block;
    vertical-align:top;
    margin:10px 0 0 -2px;
    color:#929090;
    font:0.500em/1.167em 'helvetica', Helvetica, Arial, sans-serif;
}
.tabset3 .btn-buy {
    float:left;
    border:1px solid;
    border-color:#e7e7e7 #c0c0c0 #e6e6e6;
    min-width:101px;
    text-align:center;
    border-radius:3px;
    color:#2683f9 !important;
    font-size:16px;
    line-height:18px;
    padding:12px 3px 4px;
    margin:0 0 22px;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(40%,rgba(254,254,254,1)), color-stop(55%,rgba(251,251,251,1)), color-stop(69%,rgba(245,245,245,1)), color-stop(90%,rgba(227,227,227,1)), color-stop(100%,rgba(212,211,212,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 40%,rgba(251,251,251,1) 55%,rgba(245,245,245,1) 69%,rgba(227,227,227,1) 90%,rgba(212,211,212,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 40%,rgba(251,251,251,1) 55%,rgba(245,245,245,1) 69%,rgba(227,227,227,1) 90%,rgba(212,211,212,1) 100%);
}
.tabset3 .btn-buy:hover{
    -webkit-box-shadow:none;
    box-shadow:none;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(40%,rgba(254,254,254,1)), color-stop(55%,rgba(251,251,251,1)), color-stop(69%,rgba(245,245,245,1)), color-stop(90%,rgba(227,227,227,1)), color-stop(100%,rgba(212,211,212,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 40%,rgba(251,251,251,1) 55%,rgba(245,245,245,1) 69%,rgba(227,227,227,1) 90%,rgba(212,211,212,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 40%,rgba(251,251,251,1) 55%,rgba(245,245,245,1) 69%,rgba(227,227,227,1) 90%,rgba(212,211,212,1) 100%);
    text-decoration:underline !important;
}
.tabset3 .title{
    padding:0 0 6px;
    float:left;
    width:100%;
    font-size:1.667em;
    line-height:1.050em;
}
.tabset3 .sub-text{
    float:left;
    width:100%;
    margin:0 0 0 -1px;
    color:#929090;
    font:1em/1.333em 'helvetica', Helvetica, Arial, sans-serif;
}
.tabset3 p.small-text{
    font:10px/11px 'helvetica_bold', Helvetica, Arial, sans-serif;
    padding-top:10px;
    color:#929090;
}
.tabset3 .purchase{
    margin:-2px 0 0;
    display:none;
    padding:3px 0 13px 20px;
    background:url(/images/bullet10.png) no-repeat 2px 0;
}
.tabset3 .box.hide .purchase{display:block;}
.tabset3 .box.hide .price,
.tabset3 .box.hide .btn-buy{display:none;}
.carousel3{
    margin:0 auto;
    width:780px;
    min-height:575px;
    position:relative;
}
.carousel3.item{
    width:860px;
    min-height:141px;
}
.carousel3 .mask{
    position:relative;
    overflow:hidden;
    width:780px;
}
.carousel3.item .mask{
    width:860px;
    border-bottom:6px solid #000;
}
.carousel3 .mask ul.tabset3{
    width:99999px;
    float:left;
}
.carousel3 .mask ul.tabset3 li.slide{
    width:156px !important;
    float:left;
}
.carousel3 .next-holder,
.carousel3 .prev-holder{
    position:absolute;
    left:0;
    top:0;
    width:auto;
    height:100%;
}
.carousel3 .next-holder{
    left:auto;
    right:0;
}
.carousel3 .next-holder .btn-next.disabled + .mask-r{display:none;}
.carousel3 .prev-holder .btn-prev.disabled + .mask-l{display:none;}
.carousel3 .btn-next,
.carousel3 .btn-prev{
    position:absolute;
    left:-36px;
    top:34px;
    width:18px;
    height:31px;
    background:url(/images/sprite-bg.png) no-repeat -154px 0;
    text-indent:-9999px;
    overflow:hidden;
    outline:none;
}
.carousel3 .btn-next{
    left:auto;
    right:-36px;
    background:url(/images/sprite-bg.png) no-repeat -154px -35px;
}
.carousel3.item .btn-next,
.carousel3.item .btn-prev{top:55px;}
.carousel3 .mask-l,
.carousel3 .mask-r{
    z-index:20;
    width:38px;
    position:absolute;
    right:-1px;
    top:0;
    height:100%;
    border-right:1px solid #000;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(39%,rgba(0,0,0,0.06)), color-stop(56%,rgba(0,0,0,0.13)), color-stop(72%,rgba(0,0,0,0.22)), color-stop(94%,rgba(0,0,0,0.43)), color-stop(100%,rgba(0,0,0,0.43)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 39%,rgba(0,0,0,0.13) 56%,rgba(0,0,0,0.22) 72%,rgba(0,0,0,0.43) 94%,rgba(0,0,0,0.43) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 39%,rgba(0,0,0,0.13) 56%,rgba(0,0,0,0.22) 72%,rgba(0,0,0,0.43) 94%,rgba(0,0,0,0.43) 100%);
}
.carousel3 .mask-l{
    border-left:1px solid #000;
    border-right:none;
    right:auto;
    left:-1px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.43)), color-stop(6%,rgba(0,0,0,0.43)), color-stop(28%,rgba(0,0,0,0.22)), color-stop(44%,rgba(0,0,0,0.13)), color-stop(61%,rgba(0,0,0,0.06)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 6%,rgba(0,0,0,0.22) 28%,rgba(0,0,0,0.13) 44%,rgba(0,0,0,0.06) 61%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 6%,rgba(0,0,0,0.22) 28%,rgba(0,0,0,0.13) 44%,rgba(0,0,0,0.06) 61%,rgba(0,0,0,0) 100%);
}
