@charset "UTF-8";
/* copied from beats tablet all.css */
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica-webfont.eot");
  src: url("../fonts/helvetica-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-webfont.svg") format("svg"), url("../fonts/helvetica-webfont.woff") format("woff"), url("../fonts/helvetica-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_bold';
  src: url("../fonts/helvetica_bold-webfont.eot");
  src: url("../fonts/helvetica_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_bold-webfont.svg") format("svg"), url("../fonts/helvetica_bold-webfont.woff") format("woff"), url("../fonts/helvetica_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_light';
  src: url("../fonts/helvetica_light-webfont.eot");
  src: url("../fonts/helvetica_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_light-webfont.svg") format("svg"), url("../fonts/helvetica_light-webfont.woff") format("woff"), url("../fonts/helvetica_light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_oblique';
  src: url("../fonts/helvetica_condensed_oblique-webfont.eot");
  src: url("../fonts/helvetica_condensed_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_condensed_oblique-webfont.svg") format("svg"), url("../fonts/helvetica_condensed_oblique-webfont.woff") format("woff"), url("../fonts/helvetica_condensed_oblique-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_bold_oblique';
  src: url("../fonts/helvetica_bold_oblique-webfont.eot");
  src: url("../fonts/helvetica_bold_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_bold_oblique-webfont.svg") format("svg"), url("../fonts/helvetica_bold_oblique-webfont.woff") format("woff"), url("../fonts/helvetica_bold_oblique-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'meta-normal';
  src: url("../fonts/meta-normal-webfont.eot");
  src: url("../fonts/meta-normal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/meta-normal-webfont.svg") format("svg"), url("../fonts/meta-normal-webfont.woff") format("woff"), url("../fonts/meta-normal-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'signpainter-housescript';
  src: url("../fonts/signpainter-housescript-webfont.eot");
  src: url("../fonts/signpainter-housescript-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/signpainter-housescript-webfont.svg") format("svg"), url("../fonts/signpainter-housescript-webfont.woff") format("woff"), url("../fonts/signpainter-housescript-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metaplusbold-roman';
  src: url("../fonts/metaplusbold-roman-webfont.eot");
  src: url("../fonts/metaplusbold-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/metaplusbold-roman-webfont.svg") format("svg"), url("../fonts/metaplusbold-roman-webfont.woff") format("woff"), url("../fonts/metaplusbold-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metaplusbold-caps';
  src: url("../fonts/metaplusbold-caps-webfont.eot");
  src: url("../fonts/metaplusbold-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/metaplusbold-caps-webfont.svg") format("svg"), url("../fonts/metaplusbold-caps-webfont.woff") format("woff"), url("../fonts/metaplusbold-caps-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metaplusboldroman';
  src: url("../fonts/metaplusbold-roman-webfont.eot");
  src: url("../fonts/metaplusbold-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/metaplusbold-roman-webfont.woff") format("woff"), url("../fonts/metaplusbold-roman-webfont.ttf") format("truetype"), url("../fonts/metaplusbold-roman-webfont.svg#metaplusboldroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'signpainterhousescript';
  src: url("../fonts/signpainter-housescript-webfont.eot");
  src: url("../fonts/signpainter-housescript-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/signpainter-housescript-webfont.woff") format("woff"), url("../fonts/signpainter-housescript-webfont.ttf") format("truetype"), url("../fonts/signpainter-housescript-webfont.svg#signpainterhousescript") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* player font */
@font-face {
  font-family: "ap-playback-controls";
  src:url("/fonts/ap-playback-controls.eot");
  src:url("/fonts/ap-playback-controls.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ap-playback-controls.woff") format("woff"),
    url("/fonts/ap-playback-controls.ttf") format("truetype"),
    url("/fonts/ap-playback-controls.svg#ap-playback-controls") format("svg");
  font-weight: normal;
  font-style: normal; 
}

[data-icon]:before {
  font-family: "ap-playback-controls" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main .cycle-gallery .slide-content {
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#main .cycle-gallery .slide-content.beats-slide-ad {
  background-image: url("../images/beats-mobile/beats-home-slide.png");
  height: 150px;
}

#main .cycle-gallery .slideset .slide {
  margin-left: 0;
}

#main .cycle-gallery {
  height: 235px;
}

.slide-logo {
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}

.beats-slide-ad .slide-logo {
  background-image: url("../images/beats-mobile/beats-home-slide-logo.png");
  width: 103px;
  height: 18px;
}

.beats-slide-ad > span {
  font: 16px/20px Helvetica, Arial, sans-serif;
  display: block;
  color: #fff;
  margin: 10px 0 0;
}

a.slide-content {
  display: block;
}

.price-line .btn {
  padding: 18px 24px 17px;
}

#header-nav-music-item {
  width: 43px;
  height: 43px;
  padding: 0;
  margin: 0;
  float: right;
}

#header-nav-music-item.active {
  background: #000;
}

.number.round-red {
  background: #ff2851;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 15px;
  padding: 1px 5px;
}

#header-nav-music-item .number.round-red {
  float: right;
  margin: 5px;
}

#header-nav-music-item .dropdown-player .number.round-red {
  float: left;
  margin: 9px 3px 9px 2px;
}

#header-nav-music-item #music-nav-btn {
  /*background: transparent no-repeat 15px 18px url('../images/musiclogo-white-small.png');*/
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  font-family: 'ap-playback-controls';
}

#header-nav-music-item #music-nav-btn:before {
  content: "\e004";
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  position: absolute;
  padding-top: 5px;
  text-indent: -11px;
}

#header-nav-music-item.active .dropdown-player {
  /*display: block;*/
  height: auto;
  overflow: visible;
}

.dropdown-player {
  position: absolute;
  top: 60px;
  background: #fff;
  color: #666666;
  width: 388px;
  right: -100px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  /*display: none;*/
  display: block;
  height: 0;
  overflow: hidden;
}

.dropdown-player:before {
  position: absolute;
  content: "";
  top: -9px;
  right: 117px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #444;
}

.dropdown-player:after {
  position: absolute;
  content: "";
  top: -7px;
  right: 119px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #222;
}

.dropdown-player .half-top {
  margin-top: 1px;
}

.dropdown-player .half-top > div {
  background-color: #fff;
  margin: 0 0 1px 1px;
  height: 46px;
  width: 46px;
  float: left;
  overflow: hidden;
}

.dropdown-player .half-top div:active {
  background-color: #fff;
}

.dropdown-player .half-bottom {
  background: #fff;
  clear: both;
  height: 46px;
  padding: 5px 10px;
  box-sizing: border-box;
  line-height: 36px;
  margin: 1px;
  color: #666666;
}

.dropdown-player .song-thumbnail {
  /*width: 40px;
  height: 40px;*/
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-player .play-btn {
}

.dropdown-player .pause-timer-btn {
}

.next-song-btn {
  font-family: 'ap-playback-controls';
  text-align: center;
  line-height: 46px;
  font-size: 16px;
}

.next-song-btn.enabled {
  color: #000;
  float: right;
}

.dropdown-player .half-top div.song-info {
  width: 245px;
  padding: 9px 10px;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 14px;
}

.dropdown-player .song-title,
.dropdown-player .artists {
  white-space: nowrap;
  float: left;
  clear: left;
}

.dropdown-player .song-title {
  font-weight: bold;
}

.dropdown-player .artists {
  color: #666666;
  font-size: 12px;
}

.dropdown-player .number-label {
  color: #666666;
}

.dropdown-player .half-bottom a {
  color: #ff2851;
  text-decoration: none;
  font-weight: bold;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.music-divider {
  margin: 0px auto 10px;
  height: 51px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('/images/apple_music_assets/logo_large.png');
  position: relative;
  overflow: hidden;
  padding-top: 56px;
  margin-bottom: -20px;
  background-size: 40%;
}

.music-headline {
  width: 250px;
  text-align: center;
  margin: 0 auto 40px;
  font-family: 'helvetica';
  font-size: 12pt;
  color: #000;
}

h2.music-title {
  font-size: 13pt;
  letter-spacing: 2pt;
  color: #000;
}

div.music-genre {
  margin-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
}

.container {
    overflow: visible;
}

.container.music {
    background: url("/images/apple_music_assets/mobile_image_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); 
    background-size:100%;
}

.music .select-form .col {
/*
  width: 400px;
*/
}

a.select-submit-btn {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  border: 1px solid #ddd;
  padding: 12px 15px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  background: white;
  /* Old browsers */
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(top, white 0%, #f6f6f6 80%, #dddddd 100%);
  /* FF3.6+ */
  background-image: -webkit-linear-gradient(top, white 0%, #f6f6f6 80%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -ms-linear-gradient(top, white 0%, #f6f6f6 80%, #dddddd 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, white 0%, #f6f6f6 80%, #dddddd 100%);
  /* W3C */
}

.password{
    position: relative;
}

.password span{
    top: 13px;
    left: 20px;
}

a.select-submit-btn:active {
  background-position: 0 3px;
}

ul.playlists-list {
  padding: 0;
  list-style: none;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

li.playlist {
  border-bottom: 1px solid #d8d8d8;
  height: 68px;
  padding: 10px 0;
}

.playlist-thumb {
  width: 68px;
  height: 68px;
  float: left;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.playlist-item-play {
    background-color: #fff;
    opacity: .9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    bottom:3px;
    right:3px;
    background-repeat: no-repeat;
    z-index: 5;
}

.playlist-item-play:before {
    font-family: "ap-playback-controls" !important;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: #000;
    opacity: .8;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    content: "\e003";
    text-indent: 2px;
}

.playlist-item-play-pause {
  background-color: #fff;
  float: none;
  position: absolute;
  z-index: 1;
  left: 14px;
  top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: .9;
  display: none;
}

.playlist-item-play-pause.active {
    display:block;
}

.playlist-info {
  padding: 16px 30px;
  height: 68px;
  float: left;
  color: #777;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.playlist-totals-info {
  float: right;
  padding: 9px 0;
}

.playlist-title {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

li.show-more-playlists {
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: bold;
  color: #3D77BC;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

li.show-more-playlists:active {
  background-color: #ddd;
}

.playlist-info.selected,
.playlist-info.active {
  background-color: #fff;
}

.playlist-info.active .playlist-dropdown {
  display: block;
}

.playlist-info .playlist-dropdown {
  position: absolute;
  top: 100%;
  background: #222;
  color: #fff;
  width: 1003px;
  right: -140px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 30px;
  box-sizing: border-box;
  cursor: auto;
  z-index: 1;
  display: none;
}

.playlist-info .playlist-dropdown:after {
  position: absolute;
  content: "";
  top: -7px;
  right: 50%;
  margin-right: -4px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #222;
}

.playlist-dropdown aside {
  float: left;
  width: 262px;
  padding: 0px 30px;
}

.playlist-image {
  width: 262px;
  height: 262px;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.playlist-dropdown h3.playlist-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin: 20px 0 10px;
}

.playlist-dropdown .playlist-totals-info {
  float: none;
  color: #868686;
  padding: 0;
}

p.playlist-description {
  margin: 15px 0;
  color: #868686;
}

.playlist-owner-info {
  color: #868686;
  line-height: 48px;
}

.playlist-owner-logo {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 48px;
  width: 48px;
  float: left;
  margin-right: 10px;
}

ul.playlist-tracklist {
  padding: 0;
  list-style: none;
  float: left;
  width: 468px;
}

a.playlist-dropdown-click-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-left: 68px;
}

li.playlist-track {
  border-bottom: 1px solid #d8d8d8;
  clear: left;
  height: 46px;
  color: #868686;
  cursor: pointer;
}

.playlist-track .track-nr {
  width: 46px;
  height: 46px;
  float: left;
  line-height: 46px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.playlist-track .track-title-and-artists {
  float: left;
  width: 366px;
  height: 46px;
  padding: 8px 15px;
  box-sizing: border-box;
  line-height: 15px;
}

.playlist-track .track-title {
  font-weight: bold;
  color: #000;
  display: block;
}

.playlist-track .track-duration {
  float: right;
  height: 46px;
  text-align: right;
  line-height: 46px;
  margin-right: 15px;
  padding-left: 0;
  width: 40px;
}

a.close-playlists-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #666;
}

.playlist-track.active .track-nr {
  text-indent: -99px;
  /*background: #000;*/
  /*background-position: 50% 50%;*/
  /*background-size: cover;*/
  /*background-image: url('../images/pause-button-40x40.png');*/
}

.playlist-track.active .cp-buffer-holder,
.playlist-track.active .cp-progress-holder {
  display: block;
}

.music .container {
  overflow: visible;
}

#musicPlayer {
  background-color: #222;
  height: 100%;
  background-image: url("../beatsplayer/preloader.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -999px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0 !important;
}

.btn-dark {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  color: #fff;
  background-image: -webkit-linear-gradient(#444, #444 50%, #222);
  background-image: -o-linear-gradient(#444, #444 50%, #222);
  background-image: linear-gradient(#444, #444 50%, #222);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
}

/*
 *
 *	mobile adjustements:
 *
 */
body {
  font: 0.8em/1.5em Arial, sans-serif;
  min-width: 320px;
  width: 100%;
  position: relative;
}

#header-nav-music-item #music-nav-btn {
  width: 43px;
}

.dropdown-player {
  right: 0;
  left: 0;
  top: 43px;
  width: 100%;
  min-width: 240px;
  font-size: 12px;
}

.dropdown-player:before,
.dropdown-player:after {
  display: none;
}

#header-nav-music-item #music-nav-btn:before {
  width: 43px;
}

.dropdown-player .half-top {
  background-color: #fff;
}

.dropdown-player .half-top > div {
  margin: 0 0 1px 0;
  border-left: 1px solid #fff;
  position: relative;
}

.dropdown-player .next-song-btn {
  border-right: 1px solid #fff;
  float:right!important;
  position:absolute;
}

.dropdown-player .half-top > div.song-info {
  width: 100%;
  display: inline;
  position: absolute;
  right: 1px;
  background-color: transparent;
  float: none;
  text-align: center;
}

.dropdown-player .song-title,
.dropdown-player .artists {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

li.playlist {
  position: relative;
}


.playlist-info {
  float: none;
  padding: 5px 10px 5px 20px;
  margin-left: 68px;
}

.playlist-info.selected, .playlist-info.active {
  background-color: transparent;
}

#header {
  z-index: 2501;
}

.playlist-totals-info {
  float: none;
  padding: 0;
}

.playlist-thumb {
  background-color: #fff;
}

.playlist-title,
.playlist-totals-info,
.playlist-genre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#modal {
  display: none;
  position: fixed;
  padding-top: 25px;
  background: #f0f0f0;
  z-index: 500;
  margin-top: 43px;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: scroll;
}

.playlist-dropdown {
  padding: 20px 20px 70px;
}

.bar-player-active .playlist-dropdown {
  padding: 20px 20px 170px;
}

.playlist-dropdown aside {
  width: 280px;
  padding: 0;
  float: none;
}

.bar-player-active #modal {
  margin-top: 138px;
}
.logged.bar-player-active #modal {
    margin-top: 91px;
}

.playlist-image {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 15px 20px 0;
}

.playlist-dropdown h3.playlist-title {
  font-size: 18px;
  white-space: normal;
  line-height: 18px;
  margin: 10px 0 3px;
}

.playlist-dropdown .playlist-totals-info {
  margin-bottom: 5px;
}

.playlist-owner-logo {
  height: 24px;
  width: 24px;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.playlist-owner-info {
  line-height: 25px;
  float: left;
  width: 165px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.playlist-description {
  clear: both;
}

ul.playlist-tracklist {
  float: none;
  width: auto;
}

li.playlist-track {
  position: relative;
}

.playlist-track .track-title-and-artists {
  float: none;
  padding-left: 60px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.playlist-track .track-title,
.playlist-track .track-artists {
  width: 180px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist-track .track-duration {
  margin-right: 10px;
}

.beats-landing-page-tabs .tabset li {
  width: 50%;
  position: relative;
  z-index: 1;
  /*padding: 0 8px 0 15px;*/
}

.beats-landing-page-tabs .tabset li.small {
  width:45%;
}

.beats-landing-page-tabs .tabset li.large {
  width:55%;
}



.beats-landing-page-tabs .tabset li + li {
 /* padding: 0 15px 0 7px;*/
}

ul.tabset {
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}

.beats-landing-page-tabs .tabset li a {
  font-family: helvetica_bold;
  border: 1px solid #444;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  white-space: nowrap;
  line-height: 40px;
  color: #fff;
  text-indent: 0;
  width: auto;
  height: auto;
  font-weight: bold;
  bottom: -1px;
  border-bottom-color: transparent;
  background: #333;
  background-image: -webkit-linear-gradient(#444, #444 50%, #222);
  background-image: -o-linear-gradient(#444, #444 50%, #222);
  background-image: linear-gradient(#444, #444 50%, #222);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
}

.beats-landing-page-tabs .tabset li a.active {
  background: #000;
  border-bottom-color: #000;
  color: #fff;
}

.beats-landing-page-tabs .tabset li a.white-tab {
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}

.beats-landing-page-tabs .tabset li a.white-tab.active {
  background: #fff;
  border-bottom-color: #fff;
  color: #000;
}

.tabset li a.active:after {
  display: none;
}

.gray-box .slide {
  margin: 0;
}

.gray-box.open-close {
  border: 1px solid #d8d8d8;
  margin: 0;
}

.gray-box .opener,
.gray-box .child-opener {
  color: #888;
}

.gray-box.open-close > .opener {
  cursor: pointer;
}

.gray-box.open-close > .slider,
.gray-box.open-close > .opener {
  padding: 10px;
  display: block;
  position: relative;
}

.gray-box.open-close .opener:before {
  content: '+';
  font-size: 26px;
  font-weight: normal;
  float: right;
}

.gray-box.open-close.active .opener:before {
  content: '—';
  font-size: 14px;
  font-weight: bold;
}

.gray-box a.opener,
.gray-box a.opener {
  color: #929090;
}

.gray-box a.select-submit-btn {
  float: right;
  margin: 10px 0 0 10px;
  color: #fff;
  background: #444;
  background-image: -webkit-linear-gradient(#444, #444 50%, #222);
  background-image: -o-linear-gradient(#444, #444 50%, #222);
  background-image: linear-gradient(#444, #444 50%, #222);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #666;
  padding: 10px 30px;
}

.bold {
  font-weight: bold;
}

.select-filter {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.select-filter .child-opener {
  background: #fff;
  position: relative;
}

.select-filter .select-btn .label {
  padding: 10px;
  display: block;
}

.select-filter .select-btn .chevron {
  float: right;
  width: 37px;
  height: 100%;
  position: absolute;
  right: 0;
  border-left: 1px solid #ccc;
  display: block;
}

.select-filter .select-btn .chevron:before {
  content: '';
  position: absolute;
  background: url("../images/sprite.png") no-repeat -378px -8px;
  width: 10px;
  height: 7px;
  top: 50%;
  left: 50%;
  margin-left: -5px;
}

.select-filter .tickbox {
  position: relative;
  height: 40px;
  border-top: 1px solid #ccc;
}

.select-filter .tickbox .tickbox-label {
  padding: 10px 40px 10px 10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.select-filter .chk-area {
  width: 100%;
  height: 100%;
  float: none;
  border-radius: 0;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.select-filter .chk-area:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/beats-mobile/grey-checkbox-empty.png");
}

.select-filter .chk-checked {
  background-image: none;
}

.select-filter .chk-area.chk-checked:after {
  background-image: url("../images/beats-mobile/grey-checkbox.png");
}

.hidden {
  display: none;
  visibility: hidden;
}

.add-info {
  background: none;
  margin: 10px 10px 20px;
  padding: 0px;
}

h1 {
  font: 1.6em/1em 'helvetica_bold', Helvetica, Arial, sans-serif;
  color: #000;
}

.container > h1 {
  padding: 0 20px;
  margin: 0 0 10px 0;
}

/* TLG: Copied from /static/js/all.css */
.add-info .remaining-beats-songs {
    /*float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;*/
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: relative;
    float: left;
}
.remaining-beats-songs .circle-progress {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: absolute;
    clip: rect(0px,100px,100px,50px);
}

.remaining-beats-songs .circle-buffer-holder .buffer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/images/music/circle_b_100x100.png');
}
.remaining-beats-songs .circle-progress.over-half {
    clip: rect(auto,auto,auto,auto);
}
.remaining-beats-songs .circle-progress .first-half,
.remaining-beats-songs .circle-progress .second-half {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('/images/music/circle_100x100.png');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip: rect(0px,50px,100px,0px);
}
.add-info .remaining-beats-songs .nr,
.add-info .remaining-beats-songs .text {
    text-align: center;
    display: block;
    position: absolute;
    /*width: 100%;
    left: 0;*/
    width: 60%;
    left: 50%;
    margin-left: -30%;
}
.add-info .remaining-beats-songs .nr {
    bottom: 50%;
    color: #666;
    font-weight: bold;
    font-size: 24px;
}
.add-info .remaining-beats-songs .text {
    top: 50%;
    color: #888;
}

/* TLG
.add-info .remaining-beats-songs {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  position: relative;
  float: left;
}

.remaining-beats-songs .circle-progress {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  position: relative;
  clip: rect(0px, 80px, 80px, 39px);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/circle_grey_100x100.png");
  background-size: cover;
}

.remaining-beats-songs .circle-progress.over-half {
  clip: rect(auto, auto, auto, auto);
}

.remaining-beats-songs .circle-progress .first-half,
.remaining-beats-songs .circle-progress .second-half {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/circle_100x100.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip: rect(0px, 41px, 80px, 0px);
}

.add-info .remaining-beats-songs .nr,
.add-info .remaining-beats-songs .text {
  text-align: center;
  display: block;
  position: absolute;
  width: 60%;
  left: 50%;
  margin-left: -30%;
}

.add-info .remaining-beats-songs .nr {
  bottom: 50%;
  color: #666;
  font-weight: bold;
  font-size: 24px;
}

.add-info .remaining-beats-songs .text {
  top: 50%;
  color: #888;
  line-height: 1.2em;
  font-size: 0.9em;
}
*/

.add-info p {
  margin: 10px 0 5px;
}

.add-info strong {
  color: #000;
}

.add-info-divider {
  clear: both;
  margin: 0 auto 5px;
  text-align: center;
  position: relative;
  min-height: 5px;
}

.add-info-divider:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  top: 50%;
  background: #dbdada;
}

.add-info-divider:after {
  content: attr(data-content);
  position: relative;
  left: 0;
  top: 0;
  background: #fff;
  margin: 0 auto;
  display: inline-block;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.add-info .slide {
  margin: 0;
}

.add-info .opener {
  display: block;
}

.add-info .slide .opener em {
  display: none;
  font-style: normal;
}

.add-info .slide.active .opener span {
  display: none;
}

.add-info .slide.active .opener em {
  display: inline;
}

.music-tabs-block .tab-content {
  padding: 0;
}

.music-tabs-block .white-tab-content {
  padding: 20px;
}

.beats-landing-page-tabs .tabset {
  width: auto;
  overflow: visible;
}

.beats-landing-page-tabs .tabset > li {
  margin: 0 0 0 -3px;
}

.beats-landing-page-tabs .tabset > li:first-child {
  margin: 0;
}

.beats-landing-page-tabs .tabset a.active:after {
  content: none;
}

.beats-landing-page-tabs .tab-content {
  clear: both;
}

.dark-tab-content {
  background: #000;
  color: #fff;
  position: relative;
  padding-top: 20px;
}

.white-tab-content {
  background: #fff;
  color: #000;
  position: relative;
  padding: 40px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.375);
}

.sentence-half-tab {
  width: 402px;
  width: 100%;
  box-sizing: border-box;
  float: left;
  height: 402px;
  height: auto;
  min-height: 300px;
  padding: 0;
  line-height: 22px;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  background-color: #333;
  overflow: hidden;
  min-height: 320px;
}

.sentence-wrapper {
  font-family: neuzeit_groteskblack;
  width: auto;
  height: auto;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  background: #e1221e;
  background: -moz-linear-gradient(top, #e1221e 0%, #7b2473 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1221e), color-stop(100%, #7b2473));
  background: -webkit-linear-gradient(top, #e1221e 0%, #7b2473 100%);
  background: -o-linear-gradient(top, #e1221e 0%, #7b2473 100%);
  background: -ms-linear-gradient(top, #e1221e 0%, #7b2473 100%);
  background: linear-gradient(to bottom, #e1221e 0%, #7b2473 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1221e', endColorstr='#7b2473',GradientType=0 );
  display: none;
}

.sentence-wrapper.sentence-defined.playlist-started {
  background: transparent;
}

.sentence-wrapper.sentence-defined.playlist-started span.sentence-option:after {
  display: none;
}

.sentence-wrapper span {
  color: #666;
  clear: left;
  background: #333;
  padding: 4px 10px;
  display: block;
  font-weight: bold;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 10px 3px;
  padding: 0;
  margin: -1px;
}

.sentence-wrapper span.load-more {
  color: #333;
  background: #666;
  position: relative;
  float: left;
  cursor: pointer;
  margin-top: 1px;
  width: 175px;
  /* fixes animation issue */
}

.sentence-wrapper span.sentence-option {
  clear: left;
  background: none;
  float: left;
  position: relative;
  cursor: pointer;
  color: #000;
}

.sentence-wrapper span.sentence-option.chosen {
  color: #fff;
}

.sentence-wrapper span.sentence-option:after {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sentence-wrapper span.load-more:after,
.sentence-wrapper span.sentence-option:after {
  position: absolute;
  content: " ";
  background: #333;
  width: 400px;
  height: 100%;
  top: 0;
  left: 100%;
}

.sentence-wrapper span.animate.load-more:after,
.sentence-wrapper span.animate.sentence-option:after {
  left: 500px;
}

.sentence-wrapper span.animate.load-more {
  width: 500px;
}

.sentence-wrapper.sentence-defined.playlist-started span {
  float: left;
  background: #000;
  margin-bottom: 5px;
  margin-right: -10px;
  font-weight: normal;
}

.sentence-wrapper.defining-sentence span.sentence-option:before {
  position: absolute;
  content: " ";
  background: #333;
  width: 400px;
  height: 2px;
  bottom: 0;
  left: 0;
}

.sentence-wrapper.sentence-defined.playlist-started span.sentence-option {
  color: #fff;
  clear: none;
}

.gradient-top-trans-to-bottom-black {
  background: -moz-linear-gradient(top, transparent 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  background: -o-linear-gradient(top, transparent 0%, black 100%);
  background: -ms-linear-gradient(top, transparent 0%, black 100%);
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.sentence-half-tab .gradient-top-trans-to-bottom-black {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
}

.playlist-started .gradient-top-trans-to-bottom-black {
  display: block;
}

.sentence-half-tab a.edit-sentence-button {
  width: 18px;
  height: 18px;
  background: url("../images/edit-sentence-pencil.png") no-repeat 75% 75%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 40px;
  cursor: pointer;
}

.sentence-player-right-half {
  width: 100%;
  box-sizing: border-box;
  float: left;
  background: #333;
  /*border-left: 2px solid #666;*/
  /*height: 402px;*/
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.sentence-player-right-half .top-half {
  /*position: absolute;*/
  width: 50%;
  padding: 20px 10px 20px 0;
  box-sizing: border-box;
  /*bottom: 172px;*/
  /*max-height: 230px;*/
  /*overflow: hidden;*/
  float: left;
}

.sentence-player-right-half .song-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  font-family: neuzeit_groteskblack;
}

.sentence-player-right-half .album,
.sentence-player-right-half .artists {
  line-height: 15px;
  margin-top: 5px;
}

.sentence-player-right-half .artists {
  color: #666;
}

.sentence-player-right-half .current-song-player-ctrl {
  /*position: absolute;*/
  /*width: 100%;*/
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
  bottom: 0;
  /*height: 172px;*/
  overflow: hidden;
  width: 50%;
  float: left;
}

.sentence-player-right-half .playlist-starter .start-text {
  text-transform: uppercase;
  font-family: neuzeit_groteskblack;  
  color: rgb(102, 102, 102);
  /*font-weight: bold;*/
  font-size: 20px;
  float: left;
  width: 160px;
  margin-top: 13px;
}

.play-btn,
.pause-btn,
.pause-timer-btn,
.next-song-btn {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.sentence-player-right-half .play-btn,
.sentence-player-right-half .pause-timer-btn,
.sentence-player-right-half .next-song-btn {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 20px;
  font-size: 20px;
  line-height: 64px;
}

.sentence-player-right-half .play-btn {
  background-image: url("../images/play-button-56x56.png");
}

#sentence-play-ctrl .pause-timer-btn,
#sentence-play-ctrl .next-song-btn {
  margin-right: 0;
}

.sentence-player-right-half .next-song-btn {
  /*background-image: url('../images/next-button-56x56.png');*/
}

#sentenceCarousel {
  height: auto;
}

#sentenceCarousel .item {
  padding: 20px;
}

.sentence-option em {
  font-style: normal;
}

/*.sentence-wrapper span.load-more em, 
.sentence-option em {
	padding: 5px 10px 1px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 270px;
}*/
.sentence-wrapper span em {
  padding: 5px 10px 1px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  max-width: 270px;
  font-style: normal;
}

.beats-bottom-dark-tab-advertising {
  padding: 20px 25px 170px 25px;
  position: relative;
  clear: both;
  box-sizing: border-box;
  margin-bottom: 200px;
}

.beats-bottom-dark-tab-advertising h3 {
  font-size: 23px;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 0;
}

.beats-bottom-dark-tab-advertising p {
  color: #666;
  font-size: 14px;
}

.beats-bottom-dark-tab-advertising:after {
  background-image: url("../images/beats_double_iphone_adv_267x300.png");
  background-repeat: no-repeat;
  content: "";
  display: block;
  position: absolute;
  height: 300px;
  width: 100%;
  left: 0;
  top: auto;
  bottom: -130px;
  background-position: 50% 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

img#sentence-now-playing-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#sentenceCarousel #sentence-now-playing {
  height: 0;
  padding: 0 0 100%;
}

#sentence-now-playing .sentence-wrapper {
  padding: 20px;
}

.playlist-starter:after {
  content: "";
  display: block;
  clear: both;
}

.bar-player-active #main {
  padding-top: 138px;
}

.playlist.active .playlist-item-play-pause {
  background: none;
}

.playlist.active .cp-container,
.playlist.active .cp-buffer-holder,
.playlist.active .cp-progress-holder {
  display: block;
}

.back-to-now-playing {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 5px solid #fff;
}

.back-to-now-playing:after {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  background-color: #fff;
}

#sentenceCarousel .item {
  padding-bottom: 60px;
}

.show-me-after-anim {
  display: none;
}

#beatsLoginPage .errorMsg {
  margin:10px auto !important;
}
.errorMsg {
  color: red;
}

