.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  font-family: Arial;
  width: 300px;
  height: 130px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  padding-top: 40px;
  font-size: 18px;
  margin-left: -150px;
  font-weight: bold;
  background-color: #333;
  box-shadow: 0px 2px 7px #292929;
  -moz-box-shadow: 0px 2px 7px #292929;
  -webkit-box-shadow: 0px 2px 7px #292929;
  color: #fff;
  text-align: center;
  z-index: 11;
}
.modal span {
  line-height: 55px;
}
.modal .loading span {
  display: inline-block;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
  background: #d6d6d6;
  border-radius: 1em;
  -webkit-animation: loading 1s infinite alternate;
  animation: loading 1s infinite alternate;
}
.modal .loading span:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.modal .loading span:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.modal .loading span:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.modal .loading span:nth-of-type(5) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modalNewTab {
  font-family: metaplusbold-caps;
  position: fixed;
/*
  width: 380px;
  height: 230px;
  top: 30%;
  left: 40%;
  margin-top: -100px;
  padding-top: 20px;
  margin-left: -150px;
*/
  margin-top: 43px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0px 2px 7px #292929;
  -moz-box-shadow: 0px 2px 7px #292929;
  -webkit-box-shadow: 0px 2px 7px #292929;
  color: #000;
  text-align: center;
  z-index: 2200;
}
#leaving-page-link{
    display: inline-block;
    font-size: 17px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 15px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-align: center;
    margin: 5px;
    margin-top: 15px;
    font-size: 17px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    border: 1px solid #414141;
    background-color: #000;
    width: 150px;
    text-align: center;
    color: #fff;
}
.modalNewTab .beats-logo {
/*
  margin: 0 auto 10px;
  height: 50px;
*/
  margin: 0px auto 10px;
  width: 230px;
  height: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/apple_music_assets/logo_large.png");
  position: relative;
  overflow: hidden;
  background-size: 150px;

}
.modalNewTab .modal-text {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-top:15px;
}
.modalNewTab .modal-text p {
  font: 28px 'neuzeit_groteskblack',Helvetica,sans-serif;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.modalNewTab .modal-text p:nth-child(3) {
  font-size: 12px;
  text-transform: none;
  color: #8a8a8a;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}
.modalNewTab .loading span {
  display: inline-block;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
  background: #6b6b6c;
  border-radius: 1em;
  -webkit-animation: loading 1s infinite alternate;
  animation: loading 1s infinite alternate;
}
.modalNewTab .loading span:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.modalNewTab .loading span:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.modalNewTab .loading span:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.modalNewTab .loading span:nth-of-type(5) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#termsTabModal, #privacyTabModal {
  position: absolute;
  margin-top: 43px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 2001;
}
#termsTabModal .container, #privacyTabModal .container {
  padding-left: 5px;
  padding-right: 5px;
}
#termsTabModal .btn-cancel-register, #privacyTabModal .btn-cancel-register {
  top: 5px;
}
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.beats-divider {
  padding-top: 15px;
}

.slider {
  text-align: center;
}
#mobile-music-add-info .slider {
  text-align: left;
}
.slider ul {
  width: 205px;
  margin: 0 auto;
}

.register {
   margin: 0 auto;
  text-align: center;
}
.register p.info {
  width: 210px;
  margin: 0 auto;
  padding-top: 10px;
}
.register h3 {
  margin: 0 auto;
  font: 28px 'neuzeit_groteskblack',Helvetica,sans-serif;  
  color: #000;
  padding: 0 15px 2px;
  text-transform: uppercase;
  text-align: center;
}
.register form {
  margin: 20px auto;
  text-align: center;
}
.register form p {
  width: 250px;
  margin: 30px auto;
}
.register form input {
  border: 1px solid #c3c3c3;
  padding: 10px 15px;
  text-align: center;
  width: 270px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
  margin: 5px;
}
.register form input .hover {
  cursor: default;
}
.register form input[type="text"], .register form input[type="email"], .register form input[type="password"], .register form input[type="date"] {
  color: #999;
  float: left;
}
.register form input[type="text"]:focus, .register form input[type="email"]:focus, .register form input[type="password"]:focus, .register form input[type="date"]:focus {
  color: #5c5c5c;
  border: 1px solid #919191;
}
.register form .tooltip-email, .register form .tooltip-access {
  display: none;
}
.register form .fullname, .register form .email, .register form .username, .register form .password, .register form .number {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  display: block;
}
.register form .fullname .question-mark-email, .register form .email .question-mark-email, .register form .username .question-mark-email, .register form .password .question-mark-email, .register form .number .question-mark-email {
  background-color: #c3c3c3;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  color: #fff;
  padding: 1px 3px 3px 3px;
  float: right;
  margin-top: -34px;
  margin-right: 13px;
}
.register form .fullname .tooltip-email, .register form .email .tooltip-email, .register form .username .tooltip-email, .register form .password .tooltip-email, .register form .number .tooltip-email {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  width: 190px;
  margin-left: 105px;
  margin-top: -68px;
}
.register form .fullname .tooltip-email.tooltip, .register form .email .tooltip-email.tooltip, .register form .username .tooltip-email.tooltip, .register form .password .tooltip-email.tooltip, .register form .number .tooltip-email.tooltip {
  display: block;
}
.register form .fullname .tooltip-email:after, .register form .fullname .tooltip-email:before, .register form .email .tooltip-email:after, .register form .email .tooltip-email:before, .register form .username .tooltip-email:after, .register form .username .tooltip-email:before, .register form .password .tooltip-email:after, .register form .password .tooltip-email:before, .register form .number .tooltip-email:after, .register form .number .tooltip-email:before {
  top: 100%;
  left: 75%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.register form .fullname .tooltip-email:after, .register form .email .tooltip-email:after, .register form .username .tooltip-email:after, .register form .password .tooltip-email:after, .register form .number .tooltip-email:after {
  border-color: transparent;
  border-top-color: #000;
  border-width: 9px;
  margin-left: 5px;
}
.register form .fullname .tooltip-email:before, .register form .email .tooltip-email:before, .register form .username .tooltip-email:before, .register form .password .tooltip-email:before, .register form .number .tooltip-email:before {
  border-color: transparent;
  border-top-color: #000;
  border-width: 9px;
  margin-left: 5px;
}
.register form .access {
  height: 100px;
  width: 300px;
  margin: 0 auto;
  display: block;
}
.register form .access p {
  margin: 0;
  float: left;
  padding: 10px;
}
.register form .access .question-mark-access {
  background-color: #c3c3c3;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  color: #fff;
  padding: 1px 3px 3px 3px;
  float: right;
  margin-top: 40px;
  margin-right: 12px;
}
.register form .access .tooltip-access {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  width: 280px;
  margin-left: 5px;
  margin-top: -164px;
}
.register form .access .tooltip-access.tooltip {
  display: block;
}
.register form .access .tooltip-access:after, .register form .access .tooltip-access:before {
  top: 100%;
  left: 86%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.register form .access .tooltip-access:after {
  border-color: transparent;
  border-top-color: #000;
  border-width: 9px;
  margin-left: 5px;
}
.register form .access .tooltip-access:before {
  border-color: transparent;
  border-top-color: #000;
  border-width: 9px;
  margin-left: 5px;
}
.register form [data-icon]:before {
  font-size: 9px;
}
.register form .btns {
  margin: 0 auto;
}
.btn-cancel-register {
  position: absolute;
  top: 50px;
  right: 10px;
  cursor: default;
  border: none;
  background: none;
}
.btn-cancel-register:focus {outline:0;}

.register form .btns .btn-register {
  cursor: default;
  padding: 10px 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-align: center;
  margin: 5px;
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  border: 1px solid #414141;
  background-color: #000;
  width: 150px;
  text-align: center;
  color: #fff;
  padding: auto 10px;
}
.register form .btns .btn-register-cancel{
    background-color: #fff;
    color: #666;
    width: 150px; 
}
.loginButtonContainer{
    margin-top: 20px;
}
.loginButton{
    font-size: 17px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.register .unlock-beats {
  position: relative;
  margin: -30px -5% 0 -5%;
  padding: 60px 0 30px 0;
  background: #e9eaec;
}
.register .unlock-beats .close {
  position: absolute;
  top: 40px;
  right: 10px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/sprite.png") no-repeat -272px -28px;
  width: 24px;
  height: 24px;
}
.register .welcome-back {
  position: relative;
  margin: -30px -5% 0 -5%;
  padding: 60px 0 30px 0;
  background: #e9eaec;
}
.register .welcome-back .close {
  position: absolute;
  top: 40px;
  right: 10px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/sprite.png") no-repeat -272px -28px;
  width: 24px;
  height: 24px;
}

/* register phase 2 */
.registerphase2 #header {
  background: #212121;
  text-align: center;
  position: relative;
}
.registerphase2 #header img {
  margin: 10px 0 10px 0;
}
.registerphase2 #main {
  padding-top: 0px;
}
.registerphase2 #main h3 {
  font-size: 28px;
}
.registerphase2 #main p.info {
  width: 240px;
}
.registerphase2 #main .register {
  width: 90%;
}
.registerphase2 #main .join-beats {
  background: #e9eaec;
  padding: 25px 0 25px 0;
  margin: 0px -15px 0 -15px;
}
.registerphase2 #main .block {
  display: block;
  padding: 0;
}
.registerphase2 #main .password {
  position: relative;
}
.registerphase2 #main .password span {
  top: 15px;
  left: 40px;
}
.registerphase2 #main .break {
  clear: both;
}
.registerphase2 #main .dateofbirth, .registerphase2 #main .gender {
  width: 300px;
  margin: auto;
}
.registerphase2 #main .dateofbirth p, .registerphase2 #main .gender p {
  text-align: left;
  display: inline-block;
  width: 90px;
  line-height: 50px;
  font-weight: bold;
  margin: 0;
}
.registerphase2 #main .dateofbirth input, .registerphase2 #main .gender input {
  float: right;
}
.registerphase2 #main .date-input, .registerphase2 #main .gender-input {
  width: 140px;
  display: inline-block;
  float: none;
}
.registerphase2 #main .date-input {
  padding: 8px 15px;
}
.registerphase2 #main .btns {
  margin-top: 20px;
  border-top: 1px solid #c3c3c3;
  padding-top: 20px;
}
.registerphase2 #main .btns p {
  margin: 5px auto;
}
.registerphase2 #main .btns .btn-register {
  border: 1px solid #414141;
  background-color: #000;
  width: 160px;
  text-align: center;
  color: #fff;
}
.registerphase2 #footer {
  padding: 15px 0px 12px;
}

/* hit play phase2 */
.hitplayphase2 #header {
  position: relative;
  background: #212121;
  text-align: center;
}
.hitplayphase2 #header img {
  margin: 10px 0 10px 0;
}
.hitplayphase2 #main {
  padding-top: 0;
}
.hitplayphase2 #main h3 {
  color: #fff;
  font-size: 28px;
  line-height: 30px;
}
.hitplayphase2 #main .info {
  padding-top: 0;
}
.hitplayphase2 #main .join-beats {
  text-align: center;
  margin: 0 auto;
  background: #000;
  padding: 25px 0 25px 0;
}
.hitplayphase2 #main .block {
  display: block;
}
.hitplayphase2 #main .password {
  position: relative;
}
.hitplayphase2 #main .password span {
  top: 15px;
  left: 40px;
}
.hitplayphase2 #main .break {
  clear: both;
}
.hitplayphase2 #main .dateofbirth, .hitplayphase2 #main .gender {
  width: 300px;
  margin: auto;
  padding-left: 20px;
}
.hitplayphase2 #main .dateofbirth label, .hitplayphase2 #main .gender label {
  display: inline-block;
  width: 100px;
  line-height: 50px;
  font-weight: bold;
}
.hitplayphase2 #main .date-input, .hitplayphase2 #main .gender-input {
  width: 150px;
  display: inline-block;
  float: none;
}
.hitplayphase2 #main .btn-hitplay {
  background: #fff;
  border: 1px solid #c3c3c3;
  padding: 10px 15px;
  width: 150px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  text-align: center;
  margin: 25px 5px 5px 5px;
  font-weight: bold;
  font-size: 17px;
  color: #000;
  background-color: #fff;
}
.hitplayphase2 #main .content {
  margin: 20px 20px 0 20px;
  color: #666666;
  padding-bottom: 320px;
  background: url("../images/welcome_hero_img.png") center bottom no-repeat;
  background-size: 250px;
  font-size: 1.1em;
}
.hitplayphase2 #main .content div {
  text-align: left;
  width: 290px;
  margin: auto;
}
.hitplayphase2 #main .content div img {
  margin: 10px 8px 10px 0;
}
.hitplayphase2 #footer {
  padding: 15px 0px 12px;
}

/* home.html */
#main.home .cycle-gallery .beats-slide-ad {
  height: 175px;
}
#main.home .cycle-gallery .beats-slide-ad h1 {
  line-height: 26px;
}
#main.home .cycle-gallery .beats-slide-ad .btn.btn2 {
  margin: auto;
  margin-top: 5px;
  width: 80px;
  height: 18px;
}
#main.home .tabs-block ul.tabset {
  padding-bottom: 5px;
}
#main.home .tabs-block ul.tabset li a {
  height: 20px;
  padding-top: 40px;
}
#main.home .tabs-block ul.tabset li a.active ~ .arrow-up {
  display: block;
}
#main.home .tabs-block ul.tabset li .arrow-up {
  display: none;
  position: relative;
  margin: auto;
  top: 6px;
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
}
#main.home .tabs-block .tab-content .imageOverlay {
  position: absolute;
  padding: 20px 20px 0 20px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  line-height: 22px;
}
#main.home .tabs-block .tab-content .imageOverlay p {
  margin: 0 0 10px 0;
}
#main.home .tabs-block .tab-content .imageOverlay img {
  margin-top: 10px;
  height: 20px;
  width: 120px;
}
#main.home .tabs-block .tab-content .promo .content {
  padding: 10px 11px 0;
}
#main.home .tabs-block .tab-content .promo .content .price {
  font-size: 20px;
}
#main.home .tabs-block .tab-content .promo .content i {
  font-size: 14px;
  display: inline-block;
  width: 150px; 
}
#main.home .tabs-block .tab-content .promo .content .price-line .btm {
  margin-top: 10px;
}

/* musicplayer.html */
.musicPlayer .select-filter .select-btn .label {
  text-align: left;
}
.musicPlayer .select-filter.active .select-btn .chevron:before {
  background: url("../images/sprite.png") no-repeat -377px -136px;
}
.musicPlayer .clear-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  padding: 11px 40px;
  border-radius: 4px;
  float: left;
  margin: 10px 0 0 0;
  color: #000;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 80%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(80%, #f6f6f6), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 80%, #dddddd 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 80%, #dddddd 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 80%, #dddddd 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 80%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  background-repeat: no-repeat;
  text-decoration: none;
  cursor: pointer;
}
.musicPlayer .gray-box a.select-submit-btn {
  padding: 10px 40px;
}

/* TOU and PP*/
.policy {
  z-index: 2;
  position: absolute;
  top: 44px;
  height: 516px;
  overflow: hidden;
  background: #e9eaec;
}
.policy header {
  text-align: center;
  padding: 25px;
}
.policy header h1 {
  font-weight: bolder;
}
.policy header .close {
  position: absolute;
  top: 10px;
  right: 21px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/sprite.png") no-repeat -272px -28px;
  width: 24px;
  height: 24px;
}
.policy header .TOULink {
  border-right: 2px solid #bbb;
  padding: 0 10px 0 10px;
}
.policy header .TOULink.selected {
  color: #999999;
}
.policy header .PPLink {
  padding: 0 10px 0 6px;
}
.policy header .PPLink.selected {
  color: #999999;
}
.policy .content {
  padding: 15px;
  background: #fff;
  color: #999999;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}
.policy .content h2 {
  font-size: 1.2em;
  color: #000;
}
.policy .content .TOU {
  display: none;
}
.policy .content .TOU.selected {
  display: block;
}
.policy .content .PP {
  display: none;
}
.policy .content .PP.selected {
  display: block;
}
.policy .back-btn {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #ddd;
}
.policy .back-btn p {
  width: 50%;
  margin: auto;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
}

.bar-player-active .policy {
  top: 140px;
}

/* musicplayer.html alternative mobile-music-add-info if SIGNED-IN */
.add-info .alt-info {
  text-align: center;
}
.add-info .alt-info .small-info {
  font-size: 0.9em;
  margin: 10px 0 10px 0;
}

/* musicplayer.html alternative mobile-music-add-info B Test -1st Visit: */
.add-info {
  border: none;
}
.add-info .alt-info h1 {
  font-family: metaplusbold-caps;
  font-size: 1.8em;
  /*margin-top: -10px;*/
  margin-bottom: 10px;
}
.add-info .alt-info .smaller-info {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 0.8em;
}

/* add-info 10000 Feet */
.thousand-feet {
  font-weight: bold;
  background: #f2f2f2;
  margin: -10px 0 -10px 0;
}
.thousand-feet p {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

/* popup-alert descent */
.popup-alert {
  z-index: 10;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #e31837;
  padding: 5px 15px 5px 15px;
  height: 60px;
  top: 55px;
  right: 0px;
  margin: 0 10px 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.popup-alert .arrow-up {
  position: absolute;
  margin: auto;
  top: -10px;
  right: 47px;
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e31837;
}
.popup-alert p {
  width: 260px;
}

.stat-block div.jgauge {
  margin:0 auto;
  float:none;
}
#termsTabModal, #privacyTabModal{
    color: #000;
    font: Arial, sans-serif;
}
#termsTabModal .container, #privacyTabModal .container{
    margin-top: 50px;
}


/*purchase*/
.whatIsThis{
  font-size: 13px;
  font-weight: bold;
  position: relative;
  left: 20px;
}
.securityCode{
  z-index: 20;
  width: 100%;
  top: 43px;
  opacity: 0;
  height: 100%;
  display: none;
  background: #000;
  padding-bottom: 20px;
}
.securityCode .close{
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/sprite.png") no-repeat -272px -28px;
  width: 24px;
  height: 24px;
  margin: 20px 20px 0;
}
.sec-header{
    margin: 20px; 
    color: #fff;
    font-size: 30px;
}
.sec-holder{
    height: 700px;
    background: #fff;
    margin: 20px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 65px; 
}
.sec-header2{
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 10px 0;
}
.text-wrapp{
    color: #000;
}
.termsofuse h1, .privacypolicy h1{
    font: 2.6em/1em 'helvetica_bold', Helvetica, Arial, sans-serif;
}
.cp-container-background{
    width: 46px;
    height: 46px;
}





