<% _.each(playlists, function(playlist){ %>
    <li class="playlist" data-playlist-id="<%= playlist.playlist_id %>">
        <div class="playlist-thumb" style="background-image:url('<%= playlist.image %>');"></div>
        <div class="playlist-item-play-pause">
            <div class="cp-container">
                <div class="cp-buffer-holder">
                    <div class="cp-buffer-1"></div>
                    <div class="cp-buffer-2"></div>
                </div>
                <div class="cp-progress-holder">
                    <div class="cp-progress-1"></div>
                    <div class="cp-progress-2"></div>
                </div>
                <!-- <div class="cp-circle-control"></div> -->
                <ul class="cp-controls">
                    <li><a class="cp-play">play</a></li>
                    <li><a class="cp-pause" style="display:none;">pause</a></li>
                </ul>
            </div><!-- .cp-container -->
        </div><!-- .playlist-item-play-pause -->
        <div class="playlist-info">
            <div class="playlist-title"><%= playlist.title %></div>
            <div class="playlist-totals-info">
                <span class="playlist-tracks-nr"><%= playlist.total_tracks %></span> Songs &middot;
                <span class="playlist-duration"><%= parseInt(playlist.duration / 60) % 60 %>:<% var seconds = parseInt(playlist.duration) % 60; %><%= seconds < 10 ? "0" + seconds : seconds %></span>
            </div>
            <div class="playlist-genre" data-icon="&#x29c2;"><%= playlist.title %></div>
            <a class="playlist-dropdown-click-area"></a>
        </div><!-- .playlist-info -->
    </li><!-- .playlist -->
    <% if (playlists.length > 10 && playlist.playlist_id == playlists[playlists.length - 1].playlist_id) { %>
        <li class="show-more-playlists">Show More</li>
    <% }; %>
<% }); %>