/*
 Theme Name:   Row44
 Description:  Row44 mock up theme
 Author:       Pace
 Template:     twentyfourteen
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fourteen-child
*/


.city-guide {
	max-width: 1003px;
	min-height: 600px;
	margin: 0 137.5px 30px;
}
article.pi-city-guide {
	margin-bottom: 40px;
}
.dek {
	border-bottom: 1px solid #ccc;
	padding: 0 0 30px;
	margin: 0 0 30px;
}
.city-guide h2 {
	font-family: "helvetica_bold", Helvertica, Arial, sans-serif;
	text-transform: capitalize;
	font-size: 21px;
	margin: 24px 0 10px;
}
.entry-title {
	text-transform: capitalize;
	font-size: 21px;
	margin: 20px 0 0;
}
.city-guide h3 {
	text-transform: capitalize;
	font-size: 18px;
	margin: 18px 0 0;
}
.inner h3 {
	margin: 18px 0; 
}
.city-guide h4 {
	font-family: "helvetica_bold", Helvertica, Arial, sans-serif;
	font-size: 13px;
	margin: 5px 0;
	text-transform: capitalize;
}
.hero-banner {
    position: relative;
    min-height: 200px;
    background-color: black;
}
.page-title {
	font-family: "helvetica_bold", Helvertica, Arial, sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 24px 0 14px 0;
}
.cat-hed {
	font-family: "helvetica_bold", Helvertica, Arial, sans-serif;
	margin: 30px 0 0 0;
}
.add-margins {
	margin: 10px 0 30px 18.3px;
}
.add-margins:nth-of-type(1){
	margin-left: -3px !important;
	padding-left: 0 !important;
}
.getting-around img {
	max-width: 200px;
	margin-bottom: 30px;
}
.getting-around .para {
	width: 480px;
	padding-left: 20px;
	font-size: 14px;
}
.getting-around img, .getting-around .para {
	display: inline-block;
	float: left;
}
.category, .banner {
    position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	transition: all 0.5s ease;
}
.banner {
	margin-bottom: 100px;
}
.slide-bottom {
	margin-bottom: 330px;
	transition: all 0.5s ease;
}
.glance-wrapper {
    float: left;
    display: inline-block;
    text-align: center;
    width: 163px;
    border: 3px solid #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}
.glance-wrapper:hover {
	border: 3px solid #304cb2;
}
.glance-wrapper.show-data {
	border: 3px solid #304cb2;
}
.glance-wrapper.show-data::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #000;
	border-width: 15px;
	margin: -10px 0 0 -15px;
}
.banner .show-data .glance-data.active {
	min-height: 370px !important;
}
.banner .show-data p {
	margin: 10px 10px 0;
	text-align: right;
}
.glance-thumb {
	width: 100%;
}
.glance-info {
	text-align: left;
	padding: 5px 10px;
	vertical-align: top;
	background: #eaeaea;
	line-height: 16px;
	min-height: 95px;
}
.glance-info h3 {
	margin: 5px 0 6px 0;
}
.glance-info p {
	margin: 4px 0 5px 0;
}
.glance-data {
    position: absolute;
    overflow: hidden;
    cursor: default;
	z-index: 10;
	left: -137.5px;
	width: 1003px;
	height: 0;
	margin-top: 20px;
	transition: height .5s ease;
	-webkit-transition: height .5s ease;
}
.glance-data.active {
	display: block !important;
	height: 310px;
	transition: height .5s ease;
	-webkit-transition: height .5s ease;
}
.glance-data .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 137.5px;
    width: 200px;
    background-color: #1a1a1a;
    color: #fff;
	padding: 10px 20px;
	text-align: left;
}
.glance-data .sponsored {
	font-size: 12px;
	margin: 5px 0 0;
	text-transform: uppercase;
}
.glance-data .address {
	font-style: italic;
	font-size: 14px;
}
.glance-close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.glance-close::before,
.glance-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.glance-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.glance-close:hover::before,
.glance-close:hover::after {
	background: #fff;
}
.advert {
	padding: 30px 0;
	margin: 0 auto;
}

.page-numbers {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page-numbers:hover, .page-numbers:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page-numbers.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page-numbers.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a {
	color: #555;
	text-decoration: none;
}
.main > p {
	text-align: center;
	padding: 50px 20px;
}
.city-guide {
	padding: 0;
	max-width: 1003px;
}
h2 {
	text-transform: capitalize;
	font-size: 16px;
}
.item-wrapper {
    float: left;
    text-align: center;
    margin: 2% 0 2% 2%;
    width: 22%;
}
.item-wrapper:nth-of-type(1){
	margin-left: 0 !important;
}
.thumb {
	width: 150px;
	background: #f1f1f1;
}
.glance-info {
	text-align: left;
	background: #ddd;
	padding: 5px 10px;
}
.glance-info h3 {
	margin: 5px 0 6px 0;
}
.glance-info p {
	margin: 4px 0 5px 0;
}
.expanded {
    position: absolute;
    z-index:10;
    top: 300px;
    left: 0px;
    width: 100%;
}
.expanded .inner {
    width: 200px;
    background-color: #1a1a1a;
    color: #fff;
}
.category {
    position: relative;
}
.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
